{{# expanded-stand-alone }}
&lt;div class=&quot;uib-area-expanded-menu&quot;&gt;
{{/ expanded-stand-alone}}
&lt;nav id=&quot;main-menu&quot; {{ style }}&gt;
  &lt;ul class=&quot;menu&quot;&gt;
    &lt;li class=&quot;menu__item is-expanded first&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;Mitt ansattforhold&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.three}}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.three}}
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;menu__item is-expanded&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;Arbeidsst&Atilde;&cedil;tte for&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.four }}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.four }}
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;menu__item is-expanded&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;Service og tjenester&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.five }}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.five }}
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;menu__item is-expanded&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;Kompetanse&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.three }}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.three}}
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;menu__item is-expanded last&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;Styring og strategi&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.three }}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.three}}
      &lt;/ul&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
{{# expanded-stand-alone }}
&lt;/div&gt;
{{/ expanded-stand-alone}}