&lt;div class=&quot;content&quot;&gt;
    &lt;div class=&quot;view view-internal-market view-id-internal_market view-display-id-page view-dom-id-69e80735a2a889bdeaada13be6b192da&quot;&gt;
            &lt;div class=&quot;view-header&quot;&gt;
      Displaying 2 notices    &lt;/div&gt;
      &lt;div class=&quot;view-filters&quot;&gt;
      &lt;form action=&quot;/nb/foransatte/marked&quot; method=&quot;get&quot; id=&quot;views-exposed-form-internal-market-page&quot; accept-charset=&quot;UTF-8&quot;&gt;&lt;div&gt;&lt;div class=&quot;views-exposed-form&quot;&gt;
  &lt;div class=&quot;views-exposed-widgets clearfix&quot;&gt;
          &lt;div id=&quot;edit-field-uib-market-category-value-wrapper&quot; class=&quot;views-exposed-widget views-widget-filter-field_uib_market_category_value&quot;&gt;
                  &lt;label for=&quot;edit-field-uib-market-category-value&quot;&gt;
            Filtrer p&Atilde;&yen; kategori          &lt;/label&gt;
                        &lt;div class=&quot;views-widget&quot;&gt;
          &lt;div class=&quot;form-item form-type-select form-item-field-uib-market-category-value&quot;&gt;
 &lt;div class=&quot;form-checkboxes bef-select-as-checkboxes bef-required-filter-processed&quot;&gt;&lt;div class=&quot;bef-checkboxes&quot;&gt;&lt;div class=&quot;form-item form-type-bef-checkbox form-item-edit-field-uib-market-category-value-housing&quot;&gt;
 &lt;input type=&quot;checkbox&quot; name=&quot;field_uib_market_category_value[]&quot; id=&quot;edit-field-uib-market-category-value-housing&quot; value=&quot;housing&quot;&gt; &lt;label class=&quot;option&quot; for=&quot;edit-field-uib-market-category-value-housing&quot;&gt;Bolig til leie&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-item form-type-bef-checkbox form-item-edit-field-uib-market-category-value-housingwanted&quot;&gt;
 &lt;input type=&quot;checkbox&quot; name=&quot;field_uib_market_category_value[]&quot; id=&quot;edit-field-uib-market-category-value-housingwanted&quot; value=&quot;housingwanted&quot;&gt; &lt;label class=&quot;option&quot; for=&quot;edit-field-uib-market-category-value-housingwanted&quot;&gt;Bolig &Atilde;&cedil;nsket&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-item form-type-bef-checkbox form-item-edit-field-uib-market-category-value-other&quot;&gt;
 &lt;input type=&quot;checkbox&quot; name=&quot;field_uib_market_category_value[]&quot; id=&quot;edit-field-uib-market-category-value-other&quot; value=&quot;other&quot;&gt; &lt;label class=&quot;option&quot; for=&quot;edit-field-uib-market-category-value-other&quot;&gt;Annet&lt;/label&gt;
&lt;/div&gt;
&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;
        &lt;/div&gt;
              &lt;/div&gt;
                    &lt;div class=&quot;views-exposed-widget views-submit-button&quot;&gt;
      &lt;input type=&quot;submit&quot; id=&quot;edit-submit-internal-market&quot; name=&quot;&quot; value=&quot;Bruk&quot; class=&quot;form-submit&quot;&gt;    &lt;/div&gt;
      &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;&lt;/form&gt;    &lt;/div&gt;
      &lt;div class=&quot;view-content&quot;&gt;
      &lt;div class=&quot;item-list&quot;&gt;      &lt;h3&gt;Bolig til leie&lt;/h3&gt;
    &lt;ul&gt;          &lt;li class=&quot;&quot;&gt;
  &lt;div class=&quot;views-field views-field-title&quot;&gt;        &lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;/nb/foransatte/marked/96709/need-house&quot;&gt;Need house&lt;/a&gt;&lt;/span&gt;  &lt;/div&gt;&lt;/li&gt;
      &lt;/ul&gt;&lt;/div&gt;&lt;div class=&quot;item-list&quot;&gt;      &lt;h3&gt;Bolig &Atilde;&cedil;nsket&lt;/h3&gt;
    &lt;ul&gt;          &lt;li class=&quot;&quot;&gt;
  &lt;div class=&quot;views-field views-field-title&quot;&gt;        &lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;/nb/foransatte/marked/96710/meh-hus-get&quot;&gt;meh hus get&lt;/a&gt;&lt;/span&gt;  &lt;/div&gt;&lt;/li&gt;
      &lt;/ul&gt;&lt;/div&gt;    &lt;/div&gt;
&lt;/div&gt;  &lt;/div&gt;
