&lt;main&gt;
  &lt;div class=&quot;content-main-wrapper&quot;&gt;
    &lt;div class=&quot;region region-content&quot;&gt;
      &lt;div class=&quot;block block-system&quot; id=&quot;block-system-main&quot;&gt;
        &lt;div class=&quot;content&quot;&gt;
					&lt;div class=&quot;node node-uib-views-page clearfix&quot; id=&quot;node-87342&quot;&gt;
					  &lt;div class=&quot;content&quot;&gt;
							{{&gt; atoms-study-list-title(title: &quot;Search for study programmes&quot;) }}
							{{&gt; atoms-study-list-text }}
					      &lt;div class=&quot;content&quot;&gt;
					        &lt;div class=&quot;view view-study-blocks view-id-study_blocks view-display-id-studypr_all_b1 uib-all-studyprogrammes view-dom-id-ed016bcf611a7d66a930bc61d77e8a8b jquery-once-2-processed&quot;&gt;
					          &lt;div class=&quot;view-filters&quot;&gt;
					            &lt;form accept-charset=&quot;UTF-8&quot; id=&quot;views-exposed-form-study-blocks-studypr-all-b1&quot; method=&quot;get&quot; action=&quot;/en&quot; class=&quot;jquery-once-2-processed&quot;&gt;
					              &lt;div&gt;
					                &lt;div class=&quot;views-exposed-form&quot;&gt;
					                  &lt;div class=&quot;views-exposed-widgets clearfix&quot;&gt;
															{{&gt; molecules-filter-by-subject }}
															{{&gt; molecules-filter-by-level }}
															{{&gt; atoms-bef-submit-button(label: &quot;Apply&quot;) }}
					                  &lt;/div&gt;
					                &lt;/div&gt;
					              &lt;/div&gt;
					            &lt;/form&gt;
					          &lt;/div&gt;
										{{&gt; atoms-study-list-results-found(type: &quot;study programmes&quot;) }}
					          &lt;div class=&quot;view-content&quot;&gt;
					            &lt;div class=&quot;item-list&quot;&gt;
					              &lt;h3&gt;Bachelor&acirc;€™s degree programmes&lt;/h3&gt;
												&lt;ul&gt;
					                {{# listItems.ten }}
													&lt;li class=&quot;views-row-{{evenodd}}&quot;&gt;
														&lt;a href=&quot;{{ url }}&quot;&gt;{{title}}&lt;/a&gt;
					                {{/ listItems.ten }}
					              &lt;/ul&gt;
					            &lt;/div&gt;
					            &lt;div class=&quot;item-list&quot;&gt;
					              &lt;h3&gt;Master&acirc;€™s degree programmes&lt;/h3&gt;
												&lt;ul&gt;
					                {{# listItems.ten }}
													&lt;li class=&quot;views-row-{{evenodd}}&quot;&gt;
														&lt;a href=&quot;{{ url }}&quot;&gt;{{title}}&lt;/a&gt;
					                {{/ listItems.ten }}
					              &lt;/ul&gt;
					            &lt;/div&gt;
					            &lt;div class=&quot;item-list&quot;&gt;
					              &lt;h3&gt;Integrated Master&acirc;€™s degrees/Profession studies&lt;/h3&gt;
												&lt;ul&gt;
					                {{# listItems.ten }}
													&lt;li class=&quot;views-row-{{evenodd}}&quot;&gt;
														&lt;a href=&quot;{{ url }}&quot;&gt;{{title}}&lt;/a&gt;
					                {{/ listItems.ten }}
					              &lt;/ul&gt;
					            &lt;/div&gt;
					            &lt;div class=&quot;item-list&quot;&gt;
					              &lt;h3&gt;One-year studies&lt;/h3&gt;
												&lt;ul&gt;
					                {{# listItems.ten }}
													&lt;li class=&quot;views-row-{{evenodd}}&quot;&gt;
														&lt;a href=&quot;{{ url }}&quot;&gt;{{title}}&lt;/a&gt;
					                {{/ listItems.ten }}
					              &lt;/ul&gt;
					            &lt;/div&gt;
					          &lt;/div&gt;
					        &lt;/div&gt;
					      &lt;/div&gt;
					    &lt;/div&gt;
					  &lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/main&gt;
