&lt;div class=&quot;field field-name-field-uib-relation field-type-entityreference field-label-hidden&quot;&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-79744&quot; class=&quot;node node-uib-article contextual-links-region clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div class=&quot;content&quot;&gt;
                  {{&gt; atoms-main-media-thumb }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
          Program for studiestartveka
        &lt;/h2&gt;
            &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;
              Programmet den f&Atilde;&cedil;rste veka for deg som er ny student ved Det humanistiske fakultet. &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-78493&quot; class=&quot;node node-uib-article contextual-links-region clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div class=&quot;content&quot;&gt;
                  {{&gt; atoms-main-media-thumb }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
          Informasjonsm&Atilde;&cedil;ter hausten 2015
        &lt;/h2&gt;
            &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;
              Informasjonsm&Atilde;&cedil;ta er det viktigaste utgangspunktet for ein god studiestart. Her f&Atilde;&yen;r du all den faglege og praktiske informasjonen du treng for &Atilde;&yen; komme rask i gang med studia. &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-90148&quot; class=&quot;node node-uib-article contextual-links-region clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div class=&quot;content&quot;&gt;
                  {{&gt; atoms-main-media-thumb }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
          Fagdag ved HF
        &lt;/h2&gt;
            &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;
              Er du nysgjerrig p&Atilde;&yen; hva som r&Atilde;&cedil;rer seg p&Atilde;&yen; forskningsfronten ved HF? Her f&Atilde;&yen;r du et unikt innblikk i mange ulike tema. Forskere, stipendiater og masterstudenter presenterer sine forskingsprosjekter. &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-79734&quot; class=&quot;node node-uib-article contextual-links-region clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div class=&quot;content&quot;&gt;
                  {{&gt; atoms-main-media-thumb }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
          Fadderprogram
        &lt;/h2&gt;
            &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;
              Fadderprogrammet for Det humanistiske fakultet. &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-89941&quot; class=&quot;node node-uib-article contextual-links-region clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div class=&quot;content&quot;&gt;
                  {{&gt; atoms-main-media-thumb }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
          Dine emne hausten 2015
        &lt;/h2&gt;
            &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;
              Her finn du ein oversikt over anbefalte eller obligatoriske ex.fac-emne og introduksjonsemne for studieprogrammet ditt. &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-90412&quot; class=&quot;node node-uib-external-content contextual-links-region clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-media field-type-file field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div class=&quot;content&quot;&gt;
                  {{&gt; atoms-main-media-thumb }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
              Studentsider
            &lt;/h2&gt;
            &lt;div class=&quot;field field-name-field-uib-teaser field-type-text-long field-label-hidden&quot;&gt;
              &lt;div class=&quot;field-items&quot;&gt;
                &lt;div class=&quot;field-item even&quot;&gt;P&Atilde;&yen; dette omr&Atilde;&yen;det finner du en rekke tjenester og nyttig informasjon for studenter.&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-90246&quot; class=&quot;node node-uib-content-list clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
            {{&gt; atoms-main-media-thumb }}
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt; Reise&lt;/h2&gt;
            &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;Forberedelser til reisen, bestilling gjennom reisebyr&Atilde;&yen;, reiseforsikring og reiseoppgj&Atilde;&cedil;r.&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-23692&quot; class=&quot;node node-uib-article contextual-links-region clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div class=&quot;content&quot;&gt;
                  {{&gt; atoms-main-media-thumb }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
          Praktisk informasjon til nye studentar
        &lt;/h2&gt;
            &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;
              Som ny student ved UiB er det ei rekkje ting du m&Atilde;&yen; sette deg inn i. Det er eit tett program den f&Atilde;&cedil;rste veka p&Atilde;&yen; universitetet, og det er mykje &Atilde;&yen; hugse p&Atilde;&yen;. Her finn du eit oversyn over det viktigaste. &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-90445&quot; class=&quot;node node-uib-article contextual-links-region clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div class=&quot;content&quot;&gt;
                  {{&gt; atoms-main-media-thumb }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
          Informasjonsm&Atilde;&cedil;ter for masterprogramma
        &lt;/h2&gt;
            &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;
              Her finn du tid og stad for informasjonsm&Atilde;&cedil;ta for masterprogramma med oppstart hausten 2015. &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
        &lt;div id=&quot;node-48722&quot; class=&quot;node node-uib-article node-unpublished contextual-links-region clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div class=&quot;content&quot;&gt;
                  {{&gt; atoms-main-media-thumb }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
          Har du behov for tilrettelegging?
        &lt;/h2&gt;
            &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;
              Er du ny ved UiB og har behov for tilrettelegging? &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;a href=&quot;/nb/utvekslingsavtale/114-7&quot;&gt;
        &lt;div id=&quot;node-83887&quot; class=&quot;node node-uib-study clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-study-image field-type-image field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;
                &lt;div id=&quot;file-74538&quot; class=&quot;file file-image file-image-jpeg&quot;&gt;
                  &lt;h2 class=&quot;element-invisible&quot;&gt;&lt;/h2&gt;
                  &lt;div class=&quot;content&quot;&gt;
                    &lt;img src=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/styles/medium/public/media/brukt_radboud_university_nijmegen2_4.jpg?itok=yf3PZNUd&quot; width=&quot;220&quot; height=&quot;147&quot; alt=&quot;Interi&Atilde;&cedil;r&quot; title=&quot;&quot;&gt; &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;relation_content&quot;&gt;
            &lt;h2&gt;
                &lt;div class=&quot;field field-name-field-uib-study-title field-type-text field-label-hidden&quot;&gt;&lt;div class=&quot;field-items&quot;&gt;&lt;div class=&quot;field-item even&quot;&gt;Radboud Universiteit Nijmegen og Institutt for geografi (ERASMUS+)&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;      &lt;/h2&gt;
            &lt;div class=&quot;field field-name-field-uib-study-type field-type-list-text field-label-hidden&quot;&gt;
              &lt;div class=&quot;field-items&quot;&gt;
                &lt;div class=&quot;field-item even&quot;&gt;Exchange agreement&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;field field-name-field-uib-study-code field-type-text field-label-hidden&quot;&gt;
              &lt;div class=&quot;field-items&quot;&gt;
                &lt;div class=&quot;field-item even&quot;&gt;114-7&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
