&lt;p class=&quot;field-name-field-uib-lead&quot;&gt;{{ excerpt.short  }} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure reprehenderit ipsam rerum, ducimus odit, animi blanditiis repudiandae adipisci est molestias vero consequuntur nulla pariatur, voluptate vel facilis nostrum eaque voluptatem.&lt;/p&gt;
