&lt;div id=&quot;block-uib-study-study-testimonial&quot; class=&quot;block block-uib-study contextual-links-region&quot;&gt;
	&lt;h2&gt;&lt;a href=&quot;#&quot;&gt;Ser juss overalt&lt;/a&gt;&lt;/h2&gt;
	&lt;div class=&quot;content&quot;&gt;
		&lt;div class=&quot;field field-name-field-uib-media field-type-file field-label-hidden&quot;&gt;
			&lt;div class=&quot;field-items&quot;&gt;
				&lt;div class=&quot;field-item even&quot;&gt;
					&lt;div id=&quot;file-77063&quot; class=&quot;file file-image file-image-jpeg contextual-links-region&quot;&gt;
						&lt;div class=&quot;content&quot;&gt;
							&lt;img src=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/styles/content_sidebar/public/media/student21.jpg?itok=MT12kkvR&quot; width=&quot;177&quot; height=&quot;217&quot; alt=&quot;Trond Pettersen&quot; title=&quot;&quot;&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;field field-name-field-uib-quote field-type-text field-label-hidden&quot;&gt;
			&lt;div class=&quot;field-items&quot;&gt;
				&lt;div class=&quot;field-item even&quot;&gt;Fors&Atilde;&cedil;k &Atilde;&yen; legge inn et utenlandsopphold! En l&Atilde;&brvbar;rer masse om seg selv og verden; det er mange ting en ikke kan lese seg til, og ikke alt kan oppleves som turist.
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;field field-name-field-uib-name field-type-text field-label-hidden&quot;&gt;
      &lt;div class=&quot;field-items&quot;&gt;
        &lt;div class=&quot;field-item even&quot;&gt;Trond Pettersen&lt;/div&gt;
      &lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;ul class=&quot;links inline&quot;&gt;
		&lt;li class=&quot;node-readmore first last&quot;&gt;&lt;a href=&quot;/nb/node/85708&quot; rel=&quot;tag&quot; title=&quot;Fra UiB til jobb p&Atilde;&yen; Yahoo! i Los Angeles&quot;&gt;Les mer&lt;span class=&quot;element-invisible&quot;&gt; om Fra UiB til jobb p&Atilde;&yen; Yahoo! i Los Angeles&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;