&lt;div class=&quot;field-name-field-uib-study-image&quot;&gt;
	&lt;div class=&quot;field-items&quot;&gt;
		&lt;div class=&quot;field-item even&quot;&gt;
			&lt;div id=&quot;file-67122&quot;&gt;
				&lt;div class=&quot;content&quot;&gt;
					&lt;img src=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/styles/content_sidebar/public/media/hf_digitalkultur.jpg?itok=n45jHsMl&quot; width=&quot;177&quot; height=&quot;177&quot; alt=&quot;Digital kultur illustrasjonsbilde&quot; title=&quot;Digital kultur&quot;&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;