&lt;form action=&quot;/nb/utdanning/evu/courses&quot; method=&quot;get&quot; id=&quot;uib-study-evu-courses-page-form&quot; accept-charset=&quot;UTF-8&quot;&gt;
	&lt;div&gt;
		&lt;div class=&quot;form-item form-type-checkbox form-item-autumn&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;edit-autumn&quot; name=&quot;autumn&quot; value=&quot;1&quot; class=&quot;form-checkbox&quot;&gt;
				&lt;label class=&quot;option&quot; for=&quot;edit-autumn&quot;&gt;H&Atilde;&cedil;st&lt;/label&gt;
		&lt;/div&gt;
		&lt;div class=&quot;form-item form-type-checkbox form-item-spring&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;edit-spring&quot; name=&quot;spring&quot; value=&quot;1&quot; class=&quot;form-checkbox&quot;&gt;
				&lt;label class=&quot;option&quot; for=&quot;edit-spring&quot;&gt;V&Atilde;&yen;r&lt;/label&gt;
		&lt;/div&gt;
		&lt;input type=&quot;submit&quot; id=&quot;edit-submit&quot; name=&quot;op&quot; value=&quot;Bruk&quot; class=&quot;form-submit&quot;&gt;
		&lt;input type=&quot;hidden&quot; name=&quot;form_id&quot; value=&quot;uib_study__evu_courses_page_form&quot;&gt;
	&lt;/div&gt;
&lt;/form&gt;