&lt;div class=&quot;block block-uib-study uib-study-specialization&quot;&gt;
  &lt;h3&gt;Studieretningar&lt;/h3&gt;
  &lt;div class=&quot;view view-uib-study-specialization view-id-uib_study_specialization view-display-id-block view-dom-id-dbae220d7dd830d862666eaf44c66c15&quot;&gt;
    &lt;div class=&quot;view-content&quot;&gt;
      &lt;div class=&quot;item-list&quot;&gt;
        &lt;ul&gt;
          &lt;li class=&quot;specialization&quot;&gt;
            &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
              &lt;div class=&quot;field-content&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Spesialistutdanning i endodonti&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;specialization&quot;&gt;
            &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
              &lt;div class=&quot;field-content&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Spesialistutdanning i kjeve og ansiktsradiologi&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;specialization&quot;&gt;
            &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
              &lt;div class=&quot;field-content&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Spesialistutdanning i kjeveortopedi&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;specialization&quot;&gt;
            &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
              &lt;div class=&quot;field-content&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Spesialistutdanning i oral kirurgi og oral medisin&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;specialization&quot;&gt;
            &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
              &lt;div class=&quot;field-content&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Spesialistutdanning i pedodonti&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;specialization&quot;&gt;
            &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
              &lt;div class=&quot;field-content&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Spesialistutdanning i periodonti&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;specialization&quot;&gt;
            &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
              &lt;div class=&quot;field-content&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Spesialistutdanning i protetikk&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
