&lt;article class=&quot;node-uib-article view-mode-full clearfix&quot;&gt;
  &lt;div class=&quot;content-top-wrapper&quot;&gt;
    &lt;div class=&quot;content-top&quot;&gt;
      {{&gt; molecules-breadcrumb }}
      {{&gt; molecules-kicker }}
      &lt;h1&gt;Dette er en event...&lt;/h1&gt;
      {{&gt; molecules-article-info }}
      {{&gt; molecules-lead }}
      {{&gt; molecules-primary-media }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-main-wrapper&quot;&gt;
    &lt;div class=&quot;region region-content&quot;&gt;
      &lt;div id=&quot;block-system-main&quot; class=&quot;block block-system&quot;&gt;
        &lt;div class=&quot;content&quot;&gt;
          &lt;div id=&quot;node-92175&quot; class=&quot;node node-uib-article clearfix&quot;&gt;
            &lt;div class=&quot;content&quot;&gt;
              &lt;div class=&quot;field field-name-field-uib-text field-type-text-long field-label-hidden&quot;&gt;
                &lt;div class=&quot;field-items&quot;&gt;
                  &lt;div class=&quot;field-item even&quot;&gt;
                    &lt;p&gt;{{{ excerpt.long  }}}&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot; group-article-sidebar field-group-div&quot;&gt;
              {{&gt; molecules-event-information }}
              {{&gt; molecules-factbox }}
              {{&gt; molecules-small-media }}
              {{&gt; molecules-factbox }}
              {{&gt; molecules-small-media }}
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-bottom-wrapper&quot;&gt;
    &lt;div class=&quot;content-bottom&quot;&gt;
      {{&gt; molecules-related-content }}
      {{&gt; molecules-attachments }}
      {{&gt; molecules-related-persons(showlabel: true) }}
      {{&gt; molecules-relevant-links }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/article&gt;
