&lt;div class=&quot;uib_breadcrumb&quot;&gt;
  &lt;nav class=&quot;breadcrumb&quot;&gt;
    &lt;ol&gt;
      &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Universitetet i Bergen&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Det juridiske fakultet&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;M&Atilde;&cedil;t oss! &lt;/li&gt;
    &lt;/ol&gt;
  &lt;/nav&gt;
&lt;/div&gt;
