&lt;div class=&quot;views-field&quot;&gt;
	&lt;span class=&quot;field-content&quot;&gt;
		&lt;div class=&quot;profile&quot;&gt;
			&lt;div class=&quot;user-picture&quot;&gt;
				&lt;a href=&quot;/nb/personer/Stian.Abbedissen&quot; title=&quot;Vis brukerprofil.&quot;&gt;&lt;img src=&quot;/sites/all/themes/uib/uib_zen/images/person-164.png&quot; alt=&quot;Stian Abbedissens bilde&quot; title=&quot;Stian Abbedissens bilde&quot;&gt;&lt;/a&gt;
			&lt;/div&gt;
			{{&gt; molecules-user-teaser }}
			{{&gt; molecules-competence-taxonomy }}
		&lt;/div&gt;
	&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;views-field&quot;&gt;
	&lt;span class=&quot;field-content&quot;&gt;
		&lt;div class=&quot;profile&quot;&gt;
			&lt;div class=&quot;user-picture&quot;&gt;
				&lt;a href=&quot;/nb/personer/Arjun.Ahluwalia&quot; title=&quot;Vis brukerprofil.&quot;&gt;&lt;img src=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/pictures/picture-20966-1438776904.jpg&quot; alt=&quot;Arjun Ahluwalias bilde&quot; title=&quot;Arjun Ahluwalias bilde&quot;&gt;&lt;/a&gt;
			&lt;/div&gt;
			{{&gt; molecules-user-teaser }}
			{{&gt; molecules-competence-taxonomy }}
		&lt;/div&gt;
	&lt;/span&gt;
&lt;/div&gt;
&lt;div&gt;
&lt;div class=&quot;views-field&quot;&gt;
	&lt;span class=&quot;field-content&quot;&gt;
		&lt;div class=&quot;profile&quot;&gt;
			&lt;div class=&quot;user-picture&quot;&gt;
				&lt;a href=&quot;/nb/personer/Anette.Andersen&quot; title=&quot;Vis brukerprofil.&quot;&gt;&lt;img src=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/pictures/picture-7450-1443513012.jpg&quot; alt=&quot;Anette Andersens bilde&quot; title=&quot;Anette Andersens bilde&quot;&gt;&lt;/a&gt;
			&lt;/div&gt;
			{{&gt; molecules-user-teaser }}
			{{&gt; molecules-competence-taxonomy }}
		&lt;/div&gt;
	&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;