&lt;div class=&quot;content-main-wrapper&quot;&gt;
	&lt;div class=&quot;content&quot;&gt;
		&lt;div class=&quot;view-ansatte&quot;&gt;
			{{&gt; molecules-persons-list ( exposed_filters: true ) }}
			&lt;h2 class=&quot;element-invisible&quot;&gt;Sider&lt;/h2&gt;
			&lt;div class=&quot;item-list&quot;&gt;
				{{&gt; molecules-pager }}
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
