&lt;div class=&quot;views-exposed-widget views-widget-filter-term_node_tid_depth&quot; id=&quot;edit-term-node-tid-depth-wrapper&quot;&gt;
  &lt;label for=&quot;edit-term-node-tid-depth&quot;&gt;
    Filtrer p&Atilde;&yen; fag &lt;/label&gt;
  &lt;div class=&quot;views-widget&quot;&gt;
    &lt;div class=&quot;form-item form-type-select form-item-term-node-tid-depth&quot;&gt;
      &lt;div class=&quot;form-checkboxes bef-select-as-checkboxes bef-required-filter-processed&quot;&gt;
        &lt;div class=&quot;bef-checkboxes&quot;&gt;
          {{&gt; atoms-bef-checkbox(label: &quot;Humanistiske og estetiske fag&quot;, id: &quot;hum1&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;L&Atilde;&brvbar;rarutdanningar og utdanningar i pedagogikk&quot;, id: &quot;lar1&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Samfunnsfag, juridiske fag og psykologi&quot;, id: &quot;sam1&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Naturvitskaplege og teknologiske fag&quot;, id: &quot;nat1&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Medisin, odontologi og helsefag&quot;, id: &quot;med1&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;description&quot;&gt;Leave blank for all. Otherwise, the first selected term will be the default instead of &quot;Any&quot;.&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
