&lt;div class=&quot;views-exposed-widget views-widget-filter-term_node_tid_depth&quot; id=&quot;edit-term-node-tid-depth-wrapper&quot;&gt;
  &lt;label for=&quot;edit-term-node-tid-depth&quot;&gt;
    Filter by faculty &lt;/label&gt;
  &lt;div class=&quot;views-widget&quot;&gt;
    &lt;div class=&quot;form-item form-type-select form-item-term-node-tid-depth&quot;&gt;
      &lt;div class=&quot;form-checkboxes bef-select-as-checkboxes bef-required-filter-processed&quot;&gt;
        &lt;div class=&quot;bef-checkboxes&quot;&gt;
          {{&gt; atoms-bef-checkbox(label: &quot;Faculty of Humanities&quot;, value:&quot;2273&quot;,
          id: &quot;hum3&quot;, class: &quot;option&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Faculty of Law&quot;, value:&quot;2317&quot;,
          id: &quot;law3&quot;, class: &quot;option&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Faculty of Mathematics and Natural Sciences&quot;,
          value:&quot;2283&quot;, id: &quot;mat3&quot;, class: &quot;option&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Faculty of Medicine and Dentistry&quot;,
          value:&quot;2294&quot;, id: &quot;med3&quot;, class: &quot;option&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Faculty of Psychology&quot;, value:&quot;2318&quot;,
          id: &quot;psyk3&quot;, class: &quot;option&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Faculty of Social Sciences&quot;, value:&quot;2308&quot;,
          id: &quot;sos3&quot;, class: &quot;option&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;University of Bergen&quot;, value:&quot;2271&quot;,
          id: &quot;uib&quot;, class: &quot;option&quot;) }}
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;description&quot;&gt;Leave blank for all. Otherwise, the first selected term will be the default instead of &quot;Any&quot;.&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
