&lt;div id=&quot;block-uib-study-study-related&quot; class=&quot;block block-uib-study even&quot;&gt;
	&lt;h2 class=&quot;block__title block-title&quot;&gt;Aktuelle studieprogram&lt;/h2&gt;
  &lt;div class=&quot;field field-name-field-uib-study-part-of field-type-entityreference field-label-hidden&quot;&gt;
		&lt;div class=&quot;field-items&quot;&gt;
			&lt;div class=&quot;field-item even&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BAMN-BINF&quot;&gt;Bachelorprogram i informatikk: bioinformatikk&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item odd&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BAMN-DSIK&quot;&gt;Bachelorprogram i informatikk: datatryggleik&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item even&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BAMN-DTEK&quot;&gt;Bachelorprogram i informatikk: datateknologi&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item odd&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BAMN-DVIT&quot;&gt;Bachelorprogram i informatikk: datavitskap&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item even&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BAMN-MATEK&quot;&gt;Bachelorprogram i matematikk for industri og teknologi&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item odd&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BAMN-MATF&quot;&gt;Bachelorprogram i matematiske fag&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item even&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BAMN-STATS&quot;&gt;Bachelorprogram i statistikk&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item odd&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BASV-IKT&quot;&gt;Bachelorprogram i informasjons- og kommunikasjonsteknologi (IKT) &lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item even&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BASV-KOGNI&quot;&gt;Bachelorprogram i kognitiv vitskap&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item odd&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/BATF-IM%C3%98&quot;&gt;Bachelorprogram i informatikk-matematikk-&Atilde;&cedil;konomi&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;field-item even&quot;&gt;
				&lt;a href=&quot;/nb/studieprogram/MAMN-AKTUA&quot;&gt;Integrert master i aktuarfag&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
