&lt;div class=&quot;field-collection-container&quot;&gt;
  &lt;div class=&quot;field field-name-field-uib-link-section&quot;&gt;
    &lt;div class=&quot;field-items&quot;&gt;
      &lt;div class=&quot;field-item&quot;&gt;
        &lt;div class=&quot;field-collection-view&quot;&gt;
          &lt;div class=&quot;entity entity-field-collection-item field-collection-item-field-uib-link-section&quot;&gt;
            &lt;div class=&quot;content&quot;&gt;
              &lt;div class=&quot;field field-name-field-uib-title field-type-text field-label-hidden&quot;&gt;
                &lt;div class=&quot;field-items&quot;&gt;
                  &lt;div class=&quot;field-item even&quot;&gt;Forskergrupper ved fakultetet&lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;field field-name-field-uib-links field-type-link-field field-label-hidden&quot;&gt;
                &lt;div class=&quot;field-items&quot;&gt;
                  &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Demokrati og rettsstat&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Forskergruppe for erstatningsrett, forsikringsrett og trygderett&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Forskergruppe for familie-, barne-, arve- og personrett&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Forskergruppe for formuerett&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt; Forskergruppe for forvaltningsrett&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt; Forskergruppe for helse- og sosialrett&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt; Forskergruppe for konkurranse- og markedsrett&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Forskergruppe for naturressurs-, milj&Atilde;&cedil;- og utviklingsrett&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Forskergruppe for rettskultur&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt; Forskergruppe for rettsteori&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Forskergruppe for statsrett, folkerett og internasjonale menneskerettigheter&lt;/a&gt;&lt;/div&gt;
                  &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt; Forskergruppe for strafferett og straffeprosess&lt;/a&gt;&lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;