&lt;div id=&quot;block-uib-area-bottom-links&quot; class=&quot;block block-uib-area&quot;&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;div class=&quot;item-list&quot;&gt;
      &lt;ul&gt;
        &lt;li class=&quot;first&quot;&gt;&lt;a href=&quot;/en/en/about/74388/contact-information&quot; class=&quot;link-contact-info&quot;&gt;Contact UIB&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;/en/en/about/84777/vacant-positions-uib&quot; class=&quot;link-vacant-positions&quot;&gt;Available positions&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;/en/en/form/50857/media-contact&quot; class=&quot;link-press&quot;&gt;Press&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;last&quot;&gt;&lt;a href=&quot;/en/en/form/50970/cookiepolicy&quot; class=&quot;link-info-cookies&quot;&gt;About cookies&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
