&lt;div class=&quot;field field-name-field-uib-user-social-media field-type-text field-label-hidden&quot;&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;icons-social-twitter&quot; title=&quot;F&Atilde;&cedil;lg meg p&Atilde;&yen; Twitter&quot;&gt;twitter&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;icons-social-linkedin&quot; title=&quot;F&Atilde;&cedil;lg meg p&Atilde;&yen; Linkedin&quot;&gt;linkedin&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;icons-social-facebook&quot; title=&quot;F&Atilde;&cedil;lg meg p&Atilde;&yen; Facebook&quot;&gt;facebook&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;icons-social-flickr&quot; title=&quot;F&Atilde;&cedil;lg meg p&Atilde;&yen; Flickr&quot;&gt;flickr&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;icons-social-instagram&quot; title=&quot;F&Atilde;&cedil;lg meg p&Atilde;&yen; Instagram&quot;&gt;instagram&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;icons-social-researchgate&quot; title=&quot;F&Atilde;&cedil;lg meg p&Atilde;&yen; Researchgate&quot;&gt;researchgate&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;icons-social-vimeo&quot; title=&quot;F&Atilde;&cedil;lg meg p&Atilde;&yen; Vimeo&quot;&gt;vimeo&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;icons-social-youtube&quot; title=&quot;F&Atilde;&cedil;lg meg p&Atilde;&yen; Youtube&quot;&gt;youtube&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;icons-social-github&quot; title=&quot;F&Atilde;&cedil;lg meg p&Atilde;&yen; Github&quot;&gt;github&lt;/a&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
