&lt;div class=&quot;content-top-wrapper&quot;&gt;
  &lt;div class=&quot;content-top&quot;&gt;
    {{&gt; molecules-breadcrumb }}
    {{&gt; molecules-kicker }}
    &lt;h1&gt;Rydder byfjellene med GPS-geiter&lt;/h1&gt;
    {{&gt; molecules-lead }}
    {{&gt; molecules-main-media }}
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;content-main-wrapper&quot;&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;div class=&quot;node node-uib-article clearfix&quot;&gt;
      &lt;div class=&quot;content&quot;&gt;
        &lt;div class=&quot;field field-name-field-uib-text&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;
              {{&gt; molecules-article-info }}
              &lt;p&gt;P&Atilde;&yen; Stor&Atilde;&cedil;yen utenfor Bergen er en h&Atilde;&yen;ndfull forskere i gang med &Atilde;&yen; sette halsb&Atilde;&yen;nd p&Atilde;&yen; en geiteflokk. Geitene tilh&Atilde;&cedil;rer Bergen Kystlag, men forskerne har f&Atilde;&yen;tt l&Atilde;&yen;ne dem til et forprosjekt som g&Atilde;&yen;r frem til oktober.&lt;/p&gt;
              &lt;p&gt; &lt;/p&gt;
              &lt;h3&gt;Usynlige gjerder&lt;/h3&gt;
              &lt;p&gt;Halsb&Atilde;&yen;ndene er fylt med komplisert teknologi, men m&Atilde;&yen;ten de virker p&Atilde;&yen; er noks&Atilde;&yen; enkel: N&Atilde;&yen;r geiten kommer til grensen for omr&Atilde;&yen;det som forskerne har satt, lager det en lyd. Om geiten pr&Atilde;&cedil;ver &Atilde;&yen; g&Atilde;&yen; videre inn i det forbudte omr&Atilde;&yen;det, blir lyden mer og mer intens. G&Atilde;&yen;r den for langt f&Atilde;&yen;r den et str&Atilde;&cedil;mst&Atilde;&cedil;t.&lt;/p&gt;
              &lt;p&gt;&acirc;€“ Dette erstatter alle slags gjerder. Dyrene l&Atilde;&brvbar;rer fort, og med en gang de h&Atilde;&cedil;rer lyden g&Atilde;&yen;r de tilbake til omr&Atilde;&yen;det hvor de f&Atilde;&yen;r lov &Atilde;&yen; v&Atilde;&brvbar;re, forteller &lt;a title=&quot;Kontakt Knut Krzywinski&quot; href=&quot;http://www.uib.no/personer/Knut.Krzywinski#&quot;&gt;Knut Krzywinski&lt;/a&gt;, f&Atilde;&cedil;rsteamanuensis ved &lt;a title=&quot;Nettsiden til Institutt for biologi&quot; href=&quot;http://www.uib.no/bio&quot;&gt;Institutt for biologi&lt;/a&gt; p&Atilde;&yen; Universitetet i Bergen.&lt;/p&gt;
              &lt;p&gt;Gjengroing som f&Atilde;&cedil;lge av stopp i utmarksbeite har de siste femti &Atilde;&yen;rene f&Atilde;&cedil;rt til en av de st&Atilde;&cedil;rste endringene i norsk natur noensinne. Denne utviklingen kan stanses ved &Atilde;&yen; ta bruk omr&Atilde;&yen;dene som beitemark, men beitende dyr kan forstyrre b&Atilde;&yen;de drikkevann og turg&Atilde;&yen;ere. Samtidig er det mange utfordringer ved &Atilde;&yen; bruke tradisjonelle gjerder i slike omr&Atilde;&yen;der.&lt;/p&gt;
              &lt;p&gt; &lt;/p&gt;
              &lt;h3&gt;Droner, GPS og sanntidsoverv&Atilde;&yen;kning&lt;/h3&gt;
              &lt;p&gt;Det var Bergen kommune som tok initativ til forskningssamarbeidet Bybeite. M&Atilde;&yen;let er &Atilde;&yen; utvikle en langsiktig, milj&Atilde;&cedil;vennlig og kunnskapsbasert forvaltning av gjengroende utmark med bruk av avansert kartlegging, tilrettelagt milj&Atilde;&cedil;verv&Atilde;&yen;kning og styrt beiting.&lt;/p&gt;
              &lt;p&gt;Under forprosjektet skal det utpr&Atilde;&cedil;ves b&Atilde;&yen;de dronefotografering av landskapet og overv&Atilde;&yen;kning av dyrene i sanntid ved hjelp av GPS.&lt;/p&gt;
              &lt;p&gt;&acirc;€“ Vi bruker historiske bildearkiv, laserm&Atilde;&yen;ling og h&Atilde;&cedil;yoppl&Atilde;&cedil;selige, multispektrale bilder tatt med drone for &Atilde;&yen; produsere kart som kommunen skal bruke for &Atilde;&yen; ta beslutninger for hvor beite skal settes inn. Ideen er at vi skal kartlegge veldig n&Atilde;&cedil;yaktig, n&Atilde;&brvbar;rmest p&Atilde;&yen; enkeltplanter, sier Krzywinski.&lt;/p&gt;
              &lt;p&gt;Om s&Atilde;&cedil;knaden for resten av prosjektet blir innvilget, h&Atilde;&yen;per forskerne p&Atilde;&yen; oppstart i l&Atilde;&cedil;pet av v&Atilde;&yen;ren 2016.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;group-article-sidebar field-group-div&quot;&gt;
          {{&gt; molecules-factbox }}
          {{&gt; molecules-small-media }}
        &lt;/div&gt;
        {{&gt; molecules-social-links }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;content-bottom-wrapper&quot;&gt;
  &lt;div class=&quot;content-bottom&quot;&gt;
    {{&gt; molecules-relevant-links }}
  &lt;/div&gt;
&lt;/div&gt;
