&lt;div class=&quot;views-row views-row-1 views-row-odd views-row-first&quot;&gt;
&lt;div id=&quot;node-99657&quot; class=&quot;node node-uib-message contextual-links-region clearfix&quot;&gt;

&lt;div class=&quot;content&quot;&gt;
&lt;div class=&quot;message-tag&quot; title=&quot;Drift/Operations&quot;&gt;Operations&lt;/div&gt;&lt;div class=&quot;message-text&quot;&gt;&lt;span class=&quot;text&quot;&gt;Due to a security update for Windows released on July 12th, the IT dept was forced to upgrade the driver PullPrintRicoh.&lt;/span&gt;&lt;/div&gt;&lt;span class=&quot;message-area-from&quot;&gt;&lt;a href=&quot;/en/it&quot;&gt;IT department&lt;/a&gt;&lt;/span&gt; &lt;div class=&quot;message-age&quot;&gt;1 week ago&lt;/div&gt;  &lt;/div&gt;

&lt;ul class=&quot;links inline&quot;&gt;&lt;li class=&quot;edit first&quot;&gt;&lt;a href=&quot;/en/node/99657/edit&quot;&gt;edit&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;delete last&quot;&gt;&lt;a href=&quot;/en/node/99657/delete&quot;&gt;delete&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;/div&gt;
&lt;/div&gt;
