{{# exposed_filters }}
&lt;div class=&quot;view-filters&quot;&gt;
	{{&gt; molecules-person-search }}
&lt;/div&gt;
{{/ exposed_filters }}
&lt;div class=&quot;view-content&quot;&gt;
	{{&gt; molecules-persons-list-view }}
&lt;/div&gt;
