&lt;div class=&quot;views-exposed-widget views-widget-filter-field_uib_study_category_value&quot; id=&quot;edit-field-uib-study-category-value-wrapper&quot;&gt;
  &lt;label for=&quot;edit-field-uib-study-category-value&quot;&gt;
    Filtrer p&Atilde;&yen; grad &lt;/label&gt;
  &lt;div class=&quot;views-widget&quot;&gt;
    &lt;div class=&quot;form-item form-type-select form-item-field-uib-study-category-value&quot;&gt;
      &lt;div class=&quot;form-checkboxes bef-select-as-checkboxes bef-required-filter-processed&quot;&gt;
        &lt;div class=&quot;bef-checkboxes&quot;&gt;
          {{&gt; atoms-bef-checkbox(label: &quot;Laveregradsstudier&quot;, id: &quot;lav2&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Mastergradsstudier&quot;, id: &quot;mast2&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;&Atilde;…rsstudier&quot;, id: &quot;ars2&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Phd-kurs&quot;, id: &quot;phd2&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;Etter- og videreutdanning&quot;, id: &quot;etter2&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
