&lt;main&gt;
  &lt;div class=&quot;content-top-wrapper&quot;&gt;
    &lt;div class=&quot;content-top&quot;&gt;
      {{&gt; molecules-important-message }}
      {{&gt; molecules-full-width-banner }}
      {{&gt; molecules-frontpage-primary-text }}
      {{&gt; molecules-find-studies }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-main-wrapper&quot;&gt;
    &lt;div class=&quot;content&quot;&gt;
      {{&gt; molecules-profiled-articles }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-bottom-wrapper&quot;&gt;
    &lt;div class=&quot;content-bottom&quot;&gt;
      {{&gt; molecules-area-frontpage-links }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;footer-top-wrapper&quot;&gt;
    &lt;div class=&quot;footer-top&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
