&lt;div class=&quot;field field-name-field-uib-related-persons field-type-entityreference field-label-above&quot;&gt;
  {{# showlabel }}
    &lt;div class=&quot;field-label&quot;&gt;Tilknyttede personer&lt;/div&gt;
  {{/ showlabel }}
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;div class=&quot;profile&quot;&gt;
        &lt;div class=&quot;user-picture&quot;&gt;
          &lt;a href=&quot;/nb/personer/Dag.Rune.Olsen&quot; title=&quot;Vis brukerprofil.&quot;&gt;
            &lt;img src=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/pictures/picture-9956-1441784942.jpg&quot; alt=&quot;Dag Rune Olsens bilde&quot; title=&quot;Dag Rune Olsens bilde&quot;&gt;
          &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;uib-user-teaser&quot;&gt;
          &lt;h3&gt;
            &lt;a href=&quot;/nb/personer/Dag.Rune.Olsen&quot;&gt;Dag Rune Olsen&lt;/a&gt;
          &lt;/h3&gt;
          &lt;p class=&quot;uib-user-position&quot;&gt;Rektor&lt;/p&gt;
          &lt;p class=&quot;uib-user-ou&quot;&gt;Rektors kontor&lt;/p&gt;
          &lt;div class=&quot;item-list&quot;&gt;
            &lt;ul class=&quot;uib-user-phone&quot;&gt;
              &lt;li class=&quot;first&quot;&gt;+47 55 58 20 02&lt;/li&gt;
              &lt;li class=&quot;last&quot;&gt;+47 930 85 881&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
          &lt;p class=&quot;uib-user-email&quot;&gt;
            &lt;a href=&quot;mailto:Dag.Rune.Olsen@uib.no&quot;&gt;Dag.Rune.Olsen@uib.no&lt;/a&gt;
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;&lt;div class=&quot;field-item odd&quot;&gt;
      &lt;div class=&quot;profile&quot;&gt;
        &lt;div class=&quot;user-picture&quot;&gt;
          &lt;a href=&quot;/nb/personer/Anne.Lise.Fimreite&quot; title=&quot;Vis brukerprofil.&quot;&gt;
            &lt;img src=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/pictures/picture-7199-1441785407.jpg&quot; alt=&quot;Anne Lise Fimreites bilde&quot; title=&quot;Anne Lise Fimreites bilde&quot;&gt;
          &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;uib-user-teaser&quot;&gt;
          &lt;h3&gt;
            &lt;a href=&quot;/nb/personer/Anne.Lise.Fimreite&quot;&gt;Anne Lise Fimreite&lt;/a&gt;
          &lt;/h3&gt;
          &lt;p class=&quot;uib-user-position&quot;&gt;Professor, Prorektor&lt;/p&gt;
          &lt;p class=&quot;uib-user-ou&quot;&gt;Rektors kontor&lt;/p&gt;
          &lt;div class=&quot;item-list&quot;&gt;
            &lt;ul class=&quot;uib-user-phone&quot;&gt;
              &lt;li class=&quot;first&quot;&gt;+47 55 58 32 93&lt;/li&gt;
              &lt;li class=&quot;last&quot;&gt;+47 900 83 619&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
          &lt;p class=&quot;uib-user-email&quot;&gt;
            &lt;a href=&quot;mailto:Anne.Fimreite@uib.no&quot;&gt;Anne.Fimreite@uib.no&lt;/a&gt;
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
