&lt;div class=&quot;field-name-field-uib-social-media&quot;&gt;
  &lt;h3&gt;F&Atilde;&cedil;lg oss p&Atilde;&yen;&lt;/h3&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;https://twitter.com/uib&quot; class=&quot;icons-social-twitter&quot; title=&quot;F&Atilde;&cedil;lg oss p&Atilde;&yen; Twitter&quot;&gt;twitter&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;https://facebook.com/universitetetibergen&quot; class=&quot;icons-social-facebook&quot; title=&quot;F&Atilde;&cedil;lg oss p&Atilde;&yen; Facebook&quot;&gt;facebook&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;https://youtube.com/unibergen&quot; class=&quot;icons-social-youtube&quot; title=&quot;F&Atilde;&cedil;lg oss p&Atilde;&yen; Youtube&quot;&gt;youtube&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;https://vimeo.com/uib&quot; class=&quot;icons-social-vimeo&quot; title=&quot;F&Atilde;&cedil;lg oss p&Atilde;&yen; Vimeo&quot;&gt;vimeo&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;https://flickr.com/unibergen&quot; class=&quot;icons-social-flickr&quot; title=&quot;F&Atilde;&cedil;lg oss p&Atilde;&yen; Flickr&quot;&gt;flickr&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;https://instagram.com/unibergen&quot; class=&quot;icons-social-instagram&quot; title=&quot;F&Atilde;&cedil;lg oss p&Atilde;&yen; Instagram&quot;&gt;instagram&lt;/a&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
