&lt;div role=&quot;complementary&quot; class=&quot;block block-locale first last odd&quot; id=&quot;block-locale-language&quot;&gt;
  &lt;ul class=&quot;language-switcher-locale-url&quot;&gt;
    &lt;li class=&quot;en first&quot;&gt;&lt;a lang=&quot;en&quot; class=&quot;language-link&quot; href=&quot;/en&quot;&gt;English&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;nb last active&quot;&gt;&lt;a lang=&quot;nb&quot; class=&quot;language-link active&quot; href=&quot;/nb&quot;&gt;Norsk&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
