&lt;nav class=&quot;uib-entity-shortcuts&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Fakultet og institutt&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Biblioteket&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Museet&lt;/a&gt;&lt;/li&gt;
  &lt;/ul
&lt;/nav&gt;
