&lt;div class=&quot;profile&quot;&gt;
  &lt;div class=&quot;group-user-first field-group-div clearfix&quot; id=&quot;user_user_full_group_user_first&quot;&gt;
    &lt;div class=&quot;group-media-element field-group-div&quot; id=&quot;user_user_full_group_media_element&quot;&gt;
      &lt;div class=&quot;group-user-contact-wrapper field-group-div&quot; id=&quot;user_user_full_group_user_contact_wrapper&quot;&gt;
        &lt;div class=&quot;group-user-contact field-group-div&quot; id=&quot;user_user_full_group_user_contact&quot;&gt;
          &lt;div class=&quot;group-user-ci-2 field-group-div&quot; id=&quot;user_user_full_group_user_ci_2&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;group-user-work-1 field-group-div uib-tabs-container clearfix &quot; id=&quot;user_user_full_group_user_work_1&quot;&gt;
      &lt;ul class=&quot;uib-tabs-list &quot;&gt;
        &lt;li class=&quot;ui-state-active&quot;&gt;&lt;a href=&quot;#uib-tabs-forskning&quot;&gt;Forskning&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;&quot;&gt;&lt;a href=&quot;#uib-tabs-undervisning&quot;&gt;Undervisning&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;&quot;&gt;&lt;a href=&quot;#uib-tabs-publikasjoner&quot;&gt;Publikasjoner&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;&quot;&gt;&lt;a href=&quot;#uib-tabs-kompetanse&quot;&gt;Kompetanse&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
      &lt;div id=&quot;uib-tabs-forskning&quot; class=&quot;ui-widget-content&quot;&gt;
        &lt;div class=&quot;field field-name-field-uib-user-field field-type-text-long field-label-hidden&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;
              &lt;p&gt;Jill Walker Rettberg forsker p&Atilde;&yen; hvordan vi representerer oss selv p&Atilde;&yen; nettet og p&Atilde;&yen; hvordan vi forteller p&Atilde;&yen; nettet. Hennes siste bok,&amp;nbsp;Seeing Ourselves Through Technology: How We Use Selfies, Blogs and Wearable Devices to See and Shape
                Ourselves, kom ut p&Atilde;&yen; Palgrave i oktober 2014 og&amp;nbsp;tar for seg tre typer selvrepresentasjon p&Atilde;&yen; nettet: visuelt (som med selfies), skriftlig (som med blogging og i mange sosiale medier) og kvantitativt (som med aktivitetsm&Atilde;&yen;lere og lifelogging
                apps som genererer grafer, kart og visualiseringer). Boken kan &lt;a href=&quot;http://jilltxt.net/books&quot;&gt;lastes ned gratis&lt;/a&gt; eller kj&Atilde;&cedil;pes som papirbok.&amp;nbsp;&lt;/p&gt;
              &lt;p&gt;Rettberg har tidligere utgitt en bok om blogging og har samredigert en artikkelsamling om spillet World of Warcraft. Hun har forsket p&Atilde;&yen; elektronisk litteratur, alts&Atilde;&yen; skj&Atilde;&cedil;nnlitteratur som tar i bruk datamaskinens egenart, p&Atilde;&yen; digital kunst
                og p&Atilde;&yen; sosiale medier og blogging. De seinere &Atilde;&yen;rene har hun ogs&Atilde;&yen; arbeidet med digitale metoder for humaniora, som nettverksanalyse og visualisering.&amp;nbsp;&lt;/p&gt;
              &lt;p&gt;Jill Walker Rettberg har blogget p&Atilde;&yen; &lt;a href=&quot;http://jilltxt.net&quot;&gt;jill/txt&lt;/a&gt; siden oktober 2000, og var Norges f&Atilde;&cedil;rste forskningsblogger.&amp;nbsp;&lt;/p&gt;
              {{&gt; molecules-promoted-publications }}
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div id=&quot;uib-tabs-undervisning&quot; class=&quot;ui-widget-content&quot;&gt;
        &lt;div class=&quot;field field-name-field-uib-user-teaching field-type-text-long field-label-hidden&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;
              &lt;p&gt;Jeg har bl.a. undervist i sosiale medier, webdesign, remix-kulturen, datahistorie, elektronisk litteratur, osv.&lt;/p&gt;
              &lt;p&gt;&amp;nbsp;&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div id=&quot;uib-tabs-publikasjoner&quot; class=&quot;ui-widget-content&quot;&gt;
        &lt;div class=&quot;field field-name-field-uib-user-publications field-type-text-long field-label-hidden&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;
              &lt;p&gt;Mange av publikasjonene mine (inkludert boken&amp;nbsp;&lt;a href=&quot;http://jilltxt.net/books&quot;&gt;Seeing Ourselves Through Technology&lt;/a&gt;) er fritt tilgjengelige p&Atilde;&yen; nettet. S&Atilde;&cedil;k p&Atilde;&yen; nettet eller se &lt;a href=&quot;http://jilltxt.net/txt&quot;&gt;listen p&Atilde;&yen; bloggen min&lt;/a&gt;                for &Atilde;&yen; finne fulltekstversjoner.&amp;nbsp;&lt;/p&gt;
              &lt;div class=&quot;uib-cristin-publications&quot;&gt;
                &lt;div class=&quot;ctools-collapsible-container ctools-collapsed ctools-collapsible-processed&quot;&gt;&lt;span class=&quot;ctools-toggle ctools-toggle-collapsed&quot;&gt;&lt;/span&gt;
                  &lt;div class=&quot;ctools-collapsible-handle&quot;&gt;B&Atilde;&cedil;ker&lt;/div&gt;
                  &lt;div class=&quot;ctools-collapsible-content&quot; style=&quot;display: none;&quot;&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Seeing Ourselves Through Technology: How We Use Selfies, Blogs and Wearable Devices to See and Shape Ourselves.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Palgrave Macmillan.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;120 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-1-137-47664-7.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2013.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Blogging.&lt;/span&gt; &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Polity Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;195 sider.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-0-7456-6364-7.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Corneliussen, Hilde G.; Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2008.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Digital Culture, Play, and Identity: A World of Warcraft Reader.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-publisher&quot;&gt;MIT Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;304 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-0-262-03370-1.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2008.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Blogging.&lt;/span&gt; &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Polity Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;176 sider.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-0-7456-4133-1.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;ctools-collapsible-container ctools-collapsed ctools-collapsible-processed&quot;&gt;&lt;span class=&quot;ctools-toggle ctools-toggle-collapsed&quot;&gt;&lt;/span&gt;
                  &lt;div class=&quot;ctools-collapsible-handle&quot;&gt;Tidsskriftartikler&lt;/div&gt;
                  &lt;div class=&quot;ctools-collapsible-content&quot; style=&quot;display: none;&quot;&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Forskning b&Atilde;&cedil;r v&Atilde;&brvbar;re gratis.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;NRK Ytring.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2014-10-27.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;&quot;Angsten for medienes umenneskeliggj&Atilde;&cedil;rende virkning&acirc;Äù: Fremtidsmedier sett gjennom science fiction. En respons til Jon Bing.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal&quot;&gt;Norsk Medietidsskrift.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;21&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;323-340&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Visualising Networks of Electronic Literature: Dissertations and the Creative Works They Cite.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal&quot;&gt;Electronic Book Review (EBR).&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2014-07-06.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2012.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Electronic Literature Seen from a Distance: The Beginnings of a Field.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Dichtung-Digital.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;43&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker; Atzenbeck, Claus.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2011.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Interview with Jill Walker Rettberg.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;ACM SIGWEB Newsletter.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;14&lt;/span&gt;. &lt;span class=&quot;uib-cristin-doi&quot;&gt;doi:&amp;nbsp;&lt;a target=&quot;_blank&quot; href=&quot;http://dx.doi.org/10.1145/1874551.1874553&quot;&gt;10.1145/1874551.1874553&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2009.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;&quot;Freshly Generated for You, and Barack Obama&quot;: How Social Media Represent Your Life.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal&quot;&gt;European Journal of Communication.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;24&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;451-466&lt;/span&gt;. &lt;span class=&quot;uib-cristin-doi&quot;&gt;doi:&amp;nbsp;&lt;a target=&quot;_blank&quot; href=&quot;http://dx.doi.org/10.1177/0267323109345715&quot;&gt;10.1177/0267323109345715&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2009.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;'Freshly Generated for You, and Barack Obama' How Social Media Represent Your Life.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal&quot;&gt;European Journal of Communication.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;24&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;451-466&lt;/span&gt;. &lt;span class=&quot;uib-cristin-doi&quot;&gt;doi:&amp;nbsp;&lt;a target=&quot;_blank&quot; href=&quot;http://dx.doi.org/10.1177/0267323109345715&quot;&gt;10.1177/0267323109345715&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2009.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Mediesamfunnet, institusjoner og digitale fortellinger.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Norsk Medietidsskrift.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;16&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;403-406&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2009.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Blogs, Literacies and the Collapse of Private and Public.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Leonardo Electronic Almanac.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;16&lt;/span&gt;. &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;10 sider&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Corneliussen, Hilde; Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2007.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;World of Warcraft som globalisert spillverden.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Bergens Tidende.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2007-09-27.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2007.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Litteratur p&Atilde;&yen; nettet: en innf&Atilde;&cedil;ring i elektronisk litteratur.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Norskl&Atilde;&brvbar;reren.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;31&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;59-60&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2007.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Sex, politikk og YouTube.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Bergens Tidende.&lt;/span&gt;
                            &lt;span
                            class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2007-07-11.&lt;/span&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2006.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Internett forklart for teknologen og samfunnsviteren.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Norsk Medietidsskrift.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;13&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;188-189&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2005.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Weblogs: Learning in Public.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;On the Horizon.&lt;/span&gt;
                            &lt;span
                            class=&quot;uib-cristin-journal-volume&quot;&gt;13&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;112-118&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2005.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Links and Power: The Political Economy of Linking on the Web.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Library Trends.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;53&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;524-529&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Kunst i bevegelse: Elektronisk kunst i offentlige rom.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Ballade.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2004-09-15.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Kunst i bevegelse: Elektronisk kunst i offentlige rom.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Ballade.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2004-09-15.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Response to Bill Seaman's article &quot;Approaches to Interactive Text and Recombinant Poetics&quot;.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal&quot;&gt;The Electronic Book Review.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;1 sider&lt;/span&gt;. &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2004-03-23.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Noah Wardrip-Fruin: An interview &amp;amp; new work.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;The Iowa Review Web.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2004-06-01.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2003.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Nettverket som kunstrom - en introduksjon til kunst p&Atilde;&yen; internettet.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Kunstkritikk.no.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2003-11-07.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2002.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;What We Will Have Become.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;American Book Review.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;23&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;13&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2002.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Makten forrykkes p&Atilde;&yen; nettet.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Bergens Tidende.&lt;/span&gt;
                            &lt;span
                            class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2002-09-22.&lt;/span&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill; Brevik, Thomas.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2002.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Blogg og bibliotek.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Bob : Bok og bibliotek.&lt;/span&gt;                            &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2001.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;NIC 2001 - et nordisk alternativ?&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Kunstnett Norge.&lt;/span&gt;                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2001.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;jill/txt.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;jill/txt.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2001.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Child's Game Confused: Reading Juliet Ann Martin's oooxxxooo.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;JoDI: Journal of Digtial Information.&lt;/span&gt;                            &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2000.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Men er det litteratur?&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Bob : Bok og bibliotek.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;67&lt;/span&gt;: &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;22-25&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2000.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Reagan Libraries.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Kunstnett Norge.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2000-05-03.&lt;/span&gt;                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2000.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Men hvorfor virker ikke musen?&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Kunstnett Norge.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-journal-date&quot;&gt;Publisert 2000-11-02.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;1999.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Jeg taster, derfor er jeg.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Studvest.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal-volume&quot;&gt;54&lt;/span&gt;.
                            &lt;span class=&quot;uib-cristin-journal-pages&quot;&gt;1 sider&lt;/span&gt;. &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-TIDSSKRIFTPUBL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;1999.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Norges f&Atilde;&cedil;rste hypertekstfortelling.&lt;/span&gt; &lt;span class=&quot;uib-cristin-journal&quot;&gt;Bergens Tidende.&lt;/span&gt;                            &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;ctools-collapsible-container ctools-collapsed ctools-collapsible-processed&quot;&gt;&lt;span class=&quot;ctools-toggle ctools-toggle-collapsed&quot;&gt;&lt;/span&gt;
                  &lt;div class=&quot;ctools-collapsible-handle&quot;&gt;Rapporter/avhandlinger&lt;/div&gt;
                  &lt;div class=&quot;ctools-collapsible-content&quot; style=&quot;display: none;&quot;&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-RAPPORT&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker; Due, Beathe; Pedersen, Per Egil; Waterhouse, Torgeir; Bak&Atilde;&yen;s, Tone Hodd&Atilde;&cedil;; Nortvedt, Thomas; Madsen, Kristine; Martinsen, Per; Leknes, J&Atilde;&cedil;rund.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2013.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-title&quot;&gt;NOU 2013: 2 Hindre for digital verdiskaping.&lt;/span&gt; &lt;span class=&quot;uib-cristin-serial-publisher&quot;&gt;Norges offentlige utredninger, Oslo.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;130 sider.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-RAPPORT&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;1998.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Hypertextual Criticism: Comparative Readings of Three Web Hypertexts about Literature and Film.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-pages&quot;&gt;109 sider.&lt;/span&gt; &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;ctools-collapsible-container ctools-collapsed ctools-collapsible-processed&quot;&gt;&lt;span class=&quot;ctools-toggle ctools-toggle-collapsed&quot;&gt;&lt;/span&gt;
                  &lt;div class=&quot;ctools-collapsible-handle&quot;&gt;Bokkapitler&lt;/div&gt;
                  &lt;div class=&quot;ctools-collapsible-content&quot; style=&quot;display: none;&quot;&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Hoaxes.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;-&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Ryan, Marie-Laure; Robertson, Benjamin; Emerson, Lori.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;The Johns Hopkins Guide to Digital Media.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Johns Hopkins University Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;560 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 1421412241.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Email Novel.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;-&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Ryan, Marie-Laure; Robertson, Benjamin; Emerson, Lori.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;The Johns Hopkins Guide to Digital Media.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Johns Hopkins University Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;560 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 1421412241.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker; Tomaszek, Patricia.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Electronic Literature Communities.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;2&lt;/span&gt;,
                            sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;41-57&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Scott; Baldwin, Sandy.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2014.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Electronic Literature as a Model of Creativity and Innovation in Practice: A Report from the HERA Joint Research Project.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;West Virginia University Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;419 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-82-999089-3-1.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2013.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Norsk blogghistorie: erindringer fra &Atilde;&yen;rtusenskiftet.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;1&lt;/span&gt;,
                            sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;23-36&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Bj&Atilde;&cedil;rkelo, Kristian A.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2013.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Gi meg en scene! Norsk blogghistorie - ti &Atilde;&yen;r med terror, traumer og dagens outfit.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Humanist Forlag.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;300 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-82-8282-035-6.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2010.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Digitale tekster: blogging, Wikipedia og SMS.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;Kapittel 16&lt;/span&gt;,
                            sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;185-196&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Kalleberg, Kirsten; Kleiveland, Astrid.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2010.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Sakprosa i skolen.&lt;/span&gt; &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Fagbokforlaget.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-pages&quot;&gt;437 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-82-450-0921-7.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2010.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Feral hypertext: When hypertext literature escapes control.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;Chapter&lt;/span&gt;,
                            sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;477-492&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Hunsinger, Jeremy; Klastrup, Lisbeth; Allen, Matthew.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2010.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;International Handbook of Internet Research.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Springer.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;622 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-1-4020-9788-1.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Scott; Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2010.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Digital Media.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;Part III&lt;/span&gt;,
                            sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;221-236&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Herman, David; McHale, Brian; Phelan, James.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2010.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Teaching Narrative Theory.&lt;/span&gt; &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Modern Language Association of America.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-pages&quot;&gt;326 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-1-60329-080-7.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Corneliussen, Hilde G.; Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2008.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Introduction: &quot;Orc Professor LFG,&quot; or Researching in Azeroth.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-section&quot;&gt;Introduction&lt;/span&gt;, sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;1-16&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Corneliussen, Hilde G.; Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2008.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Digital Culture, Play, and Identity: A World of Warcraft Reader.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;MIT Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;304 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-0-262-03370-1.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2008.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Quests in World of Warcraft: Deferral and Repetition.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;Chapter 8&lt;/span&gt;,
                            sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;167-184&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Corneliussen, Hilde G.; Rettberg, Jill Walker.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2008.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Digital Culture, Play, and Identity: A World of Warcraft Reader.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;MIT Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;304 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-0-262-03370-1.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2007.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;A Network of Quests in World of Warcraft.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;Chapter&lt;/span&gt;,
                            sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;307-310&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Harrigan, Pat; Wardrip-Fruin, Noah.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2007.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Second Person: Role-Playing and Story in Games and Playable Media.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;MIT Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;408 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-0-262-08356-0.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2006.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Blogging from Inside the Ivory Tower.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;Chapter&lt;/span&gt;.
                            I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Bruns, Axel; Jacobs, Joanne.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2006.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Uses of Blogs.&lt;/span&gt; &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Peter Lang Publishing Group.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-pages&quot;&gt;267 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 0-8204-8124-6.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2005.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Cyberpunk Fiction.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;-&lt;/span&gt;, sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;93&lt;/span&gt;.
                            I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Ryan, Marie-Laure; Herman, David; Jahn, Manfred.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2005.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Routledge Encyclopedia of Narrative Theory.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Routledge.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;720 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 0415282594.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2005.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Blog (weblog).&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;-&lt;/span&gt;, sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;45&lt;/span&gt;.
                            I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Ryan, Marie-Laure; Herman, David; Jahn, Manfred.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2005.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Routledge Encyclopedia of Narrative Theory.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Routledge.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;720 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 0415282594.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2005.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Distributed Narrative: Telling Stories Across Networks.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;Artikkel&lt;/span&gt;,
                            sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;91-103&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Consalvo, Mia; O'Riordan, Kate.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2005.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Internet Research Annual.&lt;/span&gt; &lt;span class=&quot;uib-cristin-publisher&quot;&gt;Peter Lang Publishing Group.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-pages&quot;&gt;175 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 0-8204-7856-3.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Art in Motion: Electronic Art in Public Spaces.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;Artikkel&lt;/span&gt;.
                            I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-RAPPORT&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Dahl, Janne Stang.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Electronic Art in Public Space.&lt;/span&gt; &lt;span class=&quot;uib-cristin-serial-publisher&quot;&gt;PNEK/NOTAM, Oslo.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-pages&quot;&gt;64 sider.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Tegnemaskin 1-12: Utsmykking p&Atilde;&yen; http://odin.dep.no.&lt;/span&gt; I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Jahn, Elisabeth Tetens; Torgersen, Anneli.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Utsmykkingsfondet for offentlige bygg: &Atilde;Örskatalog 2003.&lt;/span&gt;                                    &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;&Atilde;Ö l&Atilde;&brvbar;re &Atilde;&yen; gi og motta konstruktiv kritikk gjennom medstudentvurdering.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section&quot;&gt;artikkel&lt;/span&gt;,
                            sider &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;181-197&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Nordmo, Ivar.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Universitetspedagogisk utviklingsarbeid i Bergen: Bidrag fra deltakerne i Utviklingsprogram i Universitetspedagogikk.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-pages&quot;&gt;197 sider.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;How I Was Played by Online Caroline.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;302-309&lt;/span&gt;.
                            I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Wardrip-Fruin, Noah; Harrigan, Pat.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;First Person New Media as Story, Performance, and Game.&lt;/span&gt;
                                    &lt;span
                                    class=&quot;uib-cristin-publisher&quot;&gt;MIT Press.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;350 sider.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 0-262-23232-4.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Kunst i bevegelse - elektronisk kunst i offentlige rom.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;7-12&lt;/span&gt;.
                            I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Dahl, Janne Stang; Rudi, J&Atilde;&cedil;ran.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Elektronisk kunst i offentlige rom.&lt;/span&gt; &lt;span class=&quot;uib-cristin-pages&quot;&gt;64 sider.&lt;/span&gt;                                    &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 82-996867-0-9.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill; Mortensen, Torill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2002.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Blogging Thoughts: Personal Publication as an Online Research Tool.&lt;/span&gt;                            &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;249-279&lt;/span&gt;. I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Morrison, Andrew.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2002.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Researching ICTs in Context.&lt;/span&gt; &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                      &lt;ul&gt;
                        &lt;li&gt;
                          &lt;div class=&quot;uib-cristin-BOKRAPPORTDEL&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Walker, Jill.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2001.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Do You Think You're Part of This? Digital Texts and the Second Person Address.&lt;/span&gt; &lt;span class=&quot;uib-cristin-section-pages&quot;&gt;34-51&lt;/span&gt;.
                            I:
                            &lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
                              &lt;ul&gt;
                                &lt;li&gt;
                                  &lt;div class=&quot;uib-cristin-BOK&quot;&gt;&lt;span class=&quot;uib-cristin-authors&quot;&gt;Eskelinen, Markku; Koskimaa, Raine.&lt;/span&gt; &lt;span class=&quot;uib-cristin-year&quot;&gt;2001.&lt;/span&gt; &lt;span class=&quot;uib-cristin-title&quot;&gt;Cybertext Yearbook 2000.&lt;/span&gt; &lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 951-39-0905-0.&lt;/span&gt;                                    &lt;/div&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;p&gt;&lt;a target=&quot;_blank&quot; href=&quot;https://www.cristin.no/as/WebObjects/cristin.woa/wa/personVis?type=PERSON&amp;amp;instnr=184&amp;amp;bruker=hlijw&quot;&gt;Se fullstendig oversikt over publikasjoner i CRIStin.&lt;/a&gt;&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div id=&quot;uib-tabs-kompetanse&quot; class=&quot;ui-widget-content&quot;&gt;
        &lt;div class=&quot;field field-name-field-uib-user-opt-content field-type-text-long field-label-hidden&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;
              &lt;p&gt;&lt;strong&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
