&lt;div class=&quot;vcard-and-login&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot; class=&quot;uib-user-vcard&quot;&gt;Last ned visittkort&lt;/a&gt; | &lt;a href=&quot;{{ url }}&quot; class=&quot;uib-user-login-link&quot;&gt;Logg p&Atilde;&yen;&lt;/a&gt;
&lt;/div&gt;
