&lt;div class=&quot;field field-name-field-uib-fact-box field-type-text-long field-label-hidden&quot;&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;h3&gt;{{ headline.short }}&lt;/h3&gt;
      &lt;h4&gt;{{ headline.short }}&lt;/h4&gt;
      &lt;ul&gt;
        {{# listItems.four }}
            &lt;li&gt; {{ title }} &lt;/li&gt;
        {{/ listItems.four }}
      &lt;/ul&gt;
      &lt;p&gt;{{ excerpt.short }}&lt;/p&gt;
      &lt;p&gt;&lt;a href=&quot;#&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/p&gt;
      &lt;p&gt;&lt;em&gt;{{ excerpt.short }}&lt;/em&gt;&lt;/p&gt;
      &lt;h3&gt;{{ headline.medium }}&lt;/h3&gt;
      &lt;p&gt;{{ excerpt.short }}&lt;/p&gt;
      &lt;h3&gt;&lt;/h3&gt;
      &lt;p&gt;{{ excerpt.short }}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
