&lt;div class=&quot;uib-user-selected-publications&quot;&gt;
	&lt;div class=&quot;field-label&quot;&gt;Utvalgte publikasjoner&lt;/div&gt;
	&lt;div class=&quot;uib-cristin-publications-set&quot;&gt;
		&lt;ul&gt;
			&lt;li&gt;
				&lt;div class=&quot;uib-cristin-BOK&quot;&gt;
					&lt;span class=&quot;uib-cristin-authors&quot;&gt;Vassenden, Eirik.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-year&quot;&gt;2004.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-title&quot;&gt;Den store overflaten. Tekster om samtidslitteraturen.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-pages&quot;&gt;228 sider.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 82-04-10159-7.&lt;/span&gt;
				&lt;/div&gt;
			&lt;/li&gt;
			&lt;li&gt;
				&lt;div class=&quot;uib-cristin-BOK&quot;&gt;
					&lt;span class=&quot;uib-cristin-authors&quot;&gt;Vassenden, Eirik.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-year&quot;&gt;2007.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-title&quot;&gt;Skapelsens problem. Lesninger i Olav Nygards lyrikk.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-publisher&quot;&gt;Scandinavian Academic Press.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-pages&quot;&gt;425 sider.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-82-304-0028-9.&lt;/span&gt;
				&lt;/div&gt;
			&lt;/li&gt;
			&lt;li&gt;
				&lt;div class=&quot;uib-cristin-BOK&quot;&gt;
					&lt;span class=&quot;uib-cristin-authors&quot;&gt;Furuseth, Sissel; Thon Holljen, Jahn; Vassenden, Eirik.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-year&quot;&gt;2010.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-title&quot;&gt;Kritiske portretter. Litter&Atilde;&brvbar;re tidsskrifter etter 1880.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-publisher&quot;&gt;Tapir Akademisk Forlag.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-pages&quot;&gt;310 sider.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-82-519-2718-5.&lt;/span&gt;
				&lt;/div&gt;
			&lt;/li&gt;
			&lt;li&gt;
				&lt;div class=&quot;uib-cristin-BOK&quot;&gt;
					&lt;span class=&quot;uib-cristin-authors&quot;&gt;Vassenden, Eirik; Sejersted, J&Atilde;&cedil;rgen Magnus.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-year&quot;&gt;2011.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-title&quot;&gt;Lyrikk. En h&Atilde;&yen;ndbok.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-publisher&quot;&gt;Spartacus.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-pages&quot;&gt;386 sider.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-82-430-0631-7.&lt;/span&gt;
				&lt;/div&gt;
			&lt;/li&gt;
			&lt;li&gt;
				&lt;div class=&quot;uib-cristin-BOK&quot;&gt;
					&lt;span class=&quot;uib-cristin-authors&quot;&gt;Vassenden, Eirik.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-year&quot;&gt;2012.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-title&quot;&gt;Norsk vitalisme. Litteratur, ideologi og livsdyrking 1890-1940.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-publisher&quot;&gt;Scandinavian Academic Press.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-pages&quot;&gt;533 sider.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 978-82-304-0078-4.&lt;/span&gt;
				&lt;/div&gt;
			&lt;/li&gt;
			&lt;li&gt;
				&lt;div class=&quot;uib-cristin-BOK&quot;&gt;
					&lt;span class=&quot;uib-cristin-authors&quot;&gt;Sejersted, J&Atilde;&cedil;rgen Magnus; Vassenden, Eirik; Hamm, Christine.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-year&quot;&gt;2015.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-title&quot;&gt;Nordsj&Atilde;&cedil;en i norsk litteratur.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-publisher&quot;&gt;Fagbokforlaget.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-pages&quot;&gt;242 sider.&lt;/span&gt;
					&lt;span class=&quot;uib-cristin-isbn&quot;&gt;ISBN: 9788245018141.&lt;/span&gt;
				&lt;/div&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;