&lt;div class=&quot;form-item form-type-bef-checkbox form-item-edit-term-node-tid-depth-1-{{ value }}&quot;&gt;
	&lt;input type=&quot;checkbox&quot; value=&quot;{{ value }}&quot; id=&quot;edit-term-node-tid-depth-1-{{ value }}&quot;
	name=&quot;term_node_tid_depth[]&quot;&gt;
	{{&gt; atoms-label(label:&quot;{{ label }}&quot;, id: &quot;edit-term-node-tid-depth-1-{{ value }}&quot;,
	class: {{ class }}) }}
&lt;/div&gt;
