&lt;div class=&quot;views-exposed-widget views-widget-filter-tid&quot; id=&quot;edit-tid-wrapper&quot;&gt;
  &lt;label for=&quot;edit-tid&quot;&gt;
    Filter by semester &lt;/label&gt;
  &lt;div class=&quot;views-widget&quot;&gt;
    &lt;div class=&quot;form-item form-type-select form-item-tid&quot;&gt;
      &lt;div class=&quot;form-checkboxes bef-select-as-checkboxes bef-required-filter-processed&quot;&gt;
        &lt;div class=&quot;bef-checkboxes&quot;&gt;
          {{&gt; atoms-bef-checkbox(label: &quot;autumn&quot;, id: &quot;aut&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;spring&quot;, id: &quot;spring&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;description&quot;&gt;Leave blank for all. Otherwise, the first selected term will be the default instead of &quot;Any&quot;.&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
