&lt;div class=&quot;header__wrapper&quot;&gt;
  &lt;header class=&quot;header&quot;&gt;
  	{{&gt; atoms-logo }}
    {{&gt; molecules-site-title }}
    &lt;div class=&quot;region-header&quot;&gt;
      {{&gt; molecules-primary-nav }}
      {{&gt; molecules-language-switcher }}
      {{&gt; molecules-search }}
    &lt;/div&gt;
    {{&gt; molecules-mobile-menu-click }}
  &lt;/header&gt;
  {{&gt; molecules-mobile-menu }}
&lt;/div&gt;
