&lt;div class=&quot;field field-name-field-uib-profiled-article field-type-entityreference field-label-hidden&quot;&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;div id=&quot;node-93014&quot; class=&quot;node node-uib-article node-teaser clearfix&quot;&gt;
        &lt;div class=&quot;content clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-kicker field-type-text field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;STRATEGY 2016 -2022&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
            &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
              &lt;div class=&quot;field-items&quot;&gt;
                &lt;div class=&quot;field-item even&quot;&gt;
                  &lt;div id=&quot;file-88394&quot; class=&quot;file file-image file-image-png&quot;&gt;
                    &lt;h2 class=&quot;element-invisible&quot;&gt;&lt;a href=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/media/illfoto_strategi7_0.png&quot;&gt;illfoto_strategi7.png&lt;/a&gt;
                    &lt;/h2&gt;
                    &lt;div class=&quot;content&quot;&gt;
                      &lt;a href=&quot;https://w3-prestaging.test.uib.no/en/news/93014/new-university-bergen-strategy-adopted&quot;&gt;
                        &lt;img src=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/illfoto_strategi7_0.png?itok=qwp9qYMv&quot; alt=&quot;Front page of the strategy&quot; title=&quot;&quot; height=&quot;375&quot; width=&quot;531&quot;&gt;
                      &lt;/a&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;

                  {{&gt;atoms-calendar-card}}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;h2&gt;
            &lt;a href=&quot;/en/news/93014/new-university-bergen-strategy-adopted&quot;&gt;New University of Bergen strategy adopted&lt;/a&gt;
          &lt;/h2&gt;
          &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;Sea, Life and Society are the central themes of the University of Bergen&acirc;€™s new strategy.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item odd&quot;&gt;
      &lt;div id=&quot;node-91863&quot; class=&quot;node node-uib-article node-teaser clearfix&quot;&gt;
        &lt;div class=&quot;content clearfix&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-kicker field-type-text field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;MARINE RESEARCH&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
            &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
              &lt;div class=&quot;field-items&quot;&gt;
                &lt;div class=&quot;field-item even&quot;&gt;
                  &lt;div id=&quot;file-86804&quot; class=&quot;file file-image file-image-jpeg&quot;&gt;
                    &lt;h2 class=&quot;element-invisible&quot;&gt;
                      &lt;a href=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/media/lakselus23_1.jpg&quot;&gt;lakselus23.jpg&lt;/a&gt;
                    &lt;/h2&gt;
                    &lt;div class=&quot;content&quot;&gt;
                      &lt;a href=&quot;https://w3-prestaging.test.uib.no/en/news/91863/sea-lice-research-centre-gets-top-marks&quot;&gt;
                        &lt;img src=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/lakselus23_1.jpg?itok=FY3tk_WC&quot; alt=&quot;EVALUATED: Aina-Cathrine &Atilde;˜verg&Atilde;&yen;rd and Anna Zofia Komisarczuk is two of the researchers at the Sea Lice Reseach Centre in Bergen. After a midway evaluation the centre gets the green light to continue their work. &quot; title=&quot;SLRC&quot; height=&quot;375&quot; width=&quot;531&quot;&gt;
                      &lt;/a&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;h2&gt;
            &lt;a href=&quot;/en/news/91863/sea-lice-research-centre-gets-top-marks&quot;&gt;The Sea Lice Research Centre gets top marks&lt;/a&gt;
          &lt;/h2&gt;
          &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;An expert evaluation team has found that the Sea Lice Research Centre (SLRC) in Bergen is an excellent research centre with diverse expertise, enthusiastic researchers and high production levels.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;div id=&quot;node-91190&quot; class=&quot;node node-uib-article node-teaser clearfix&quot;&gt;
        &lt;div class=&quot;content clearfix&quot;&gt;
            &lt;div class=&quot;field field-name-field-uib-main-media field-type-file field-label-hidden&quot;&gt;
              &lt;div class=&quot;field-items&quot;&gt;
                &lt;div class=&quot;field-item even&quot;&gt;
                  &lt;div id=&quot;file-87346&quot; class=&quot;file file-image file-image-jpeg&quot;&gt;
                    &lt;h2 class=&quot;element-invisible&quot;&gt;
                      &lt;a href=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/media/marinmasterplan2015foto_0.jpg&quot;&gt;marinmasterplan2015foto.jpg&lt;/a&gt;
                    &lt;/h2&gt;
                    &lt;div class=&quot;content&quot;&gt;
                      &lt;a href=&quot;https://w3-prestaging.test.uib.no/en/news/91190/master-plan-strengthen-marine-research-bergen&quot;&gt;
                        &lt;img src=&quot;https://w3-prestaging.test.uib.no/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/marinmasterplan2015foto_0.jpg?itok=Z1nWFyGs&quot; alt=&quot;Agreement on marine master plan for research in Bergen, left to right: UiB&acirc;€™s Rector Dag Rune Olsen, State Secretary Dilek Ayhan from Norway&acirc;€™s Ministry of Trade, Industry and Fisheries, and Managing Director Tore Nepstad at IMR.&quot; title=&quot;Marine master plan News&quot; height=&quot;375&quot; width=&quot;531&quot;&gt;
                      &lt;/a&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                  {{&gt;atoms-calendar-card}}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;h2&gt;
            &lt;a href=&quot;/en/news/91190/master-plan-strengthen-marine-research-bergen&quot;&gt;Master plan to strengthen marine research in Bergen&lt;/a&gt;
          &lt;/h2&gt;
          &lt;p class=&quot;field field-name-field-uib-lead field-type-text-long field-label-hidden&quot;&gt;A marine cluster in Bergen would contribute to the creation of new work, establish an even stronger climate research environment and contribute to a more secure sea food production. The University of Bergen wants to play a major part in such a cluster.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
