&lt;div id=&quot;block-uib-study-study-period-phd&quot; class=&quot;block block-uib-study contextual-links-region&quot;&gt;
  &lt;h2&gt;Undervisningsperiode&lt;/h2&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;p&gt;Annan kvar haust &lt;/p&gt;
    &lt;p&gt;haust 2016:&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
