&lt;div class=&quot;view view-exchange-agreements view-id-exchange_agreements view-display-id-b1 view-dom-id-3aaa5386ea6d3e3ab69ff41064c15c1c jquery-once-2-processed&quot;&gt;
  &lt;div class=&quot;view-filters&quot;&gt;

    &lt;div class=&quot;attachment attachment-before&quot;&gt;Viser 818 utvekslingsavtaler&lt;/div&gt;
      &lt;div class=&quot;view-content&quot;&gt;
        &lt;div class=&quot;item-list&quot;&gt;&lt;h3&gt;Det humanistiske fakultet (12)&lt;/h3&gt;
          &lt;ul&gt; 
            &lt;li class=&quot;views-row-odd views-row-first&quot;&gt;
              &lt;div&gt;
                &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
                  &lt;span class=&quot;agreement-title&quot;&gt;
                    &lt;a href=&quot;/nb/utvekslingsavtale/379-4&quot;&gt;Justus Liebig-Universit&Atilde;&curren;t Giessen og Det humanistiske fakultet (ERASMUS+)&lt;/a&gt;
                  &lt;/span&gt;
                  &lt;span class=&quot;studentreport-ref&quot;&gt;&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;views-row-even&quot;&gt;  
              &lt;div&gt;
                &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
                  &lt;span class=&quot;agreement-title&quot;&gt;
                    &lt;a href=&quot;/nb/utvekslingsavtale/674-1&quot;&gt;Lancaster University og Det humanistiske fakultet (BILATERAL)&lt;/a&gt;
                  &lt;/span&gt;
                  &lt;span class=&quot;studentreport-ref&quot;&gt;&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;views-row-odd&quot;&gt;  
              &lt;div&gt;
                &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&gt;
                  &lt;span class=&quot;agreement-title&quot;&gt;
                    &lt;a href=&quot;/nb/utvekslingsavtale/176-4&quot;&gt;Otto-Friedrich-Universit&Atilde;&curren;t Bamberg og Det humanistiske fakultet (ERASMUS+)&lt;/a&gt;
                  &lt;/span&gt;
                  &lt;span class=&quot;studentreport-ref&quot;&gt;&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;views-row-even&quot;&gt;  
            &lt;div&gt;
              &lt;div class=&quot;views-field views-field-field-uib-study-title&quot;&lt;span class=&quot;agreement-title&quot;&gt;
                &lt;a href=&quot;/nb/utvekslingsavtale/275-1&quot;&gt;Saint-Petersburg State University og Det humanistiske fakultet (BILATERAL)&lt;/a&gt;&lt;/span&gt;
                  &lt;span class=&quot;studentreport-ref&quot;&gt;&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;