&lt;div class=&quot;content-main-wrapper&quot;&gt;
  &lt;div class=&quot;region-content&quot;&gt;
    &lt;div class=&quot;node-uib-testimonial&quot;&gt;
      &lt;div id=&quot;node_uib_testimonial_full_group_article_main&quot; class=&quot; group-article-main&quot;&gt;
        &lt;div class=&quot;field-name-field-uib-quote&quot;&gt;
          {{&gt; molecules-testimonial-quote }}
        &lt;/div&gt;
        &lt;div class=&quot;field-name-field-uib-text&quot;&gt;
          {{&gt; atoms-paragraph }}
          {{&gt; atoms-paragraph }}
          {{&gt; atoms-paragraph }}
          {{&gt; atoms-paragraph }}
        &lt;/div&gt;
      &lt;/div&gt;
    {{&gt; molecules-testimonial-sidebar }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
