&lt;div class=&quot;view-study-blocks&quot;&gt;
  &lt;div class=&quot;attachment attachment-before&quot;&gt;Viser 812 utvekslingsavtaler&lt;/div&gt;
  &lt;div class=&quot;view-content&quot;&gt;
    &lt;div class=&quot;item-list&quot;&gt;
      &lt;h1&gt;Bachelorprogrammer&lt;/h1&gt;
      &lt;ul&gt;
        &lt;li class=&quot;views-row-odd views-row-first&quot;&gt;&lt;a href=&quot;#&quot;&gt;Bachelorprogram i administrasjon og organisasjonsvitskap&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;views-row-even&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;Bachelorprogram i arabisk&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;views-row-odd&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;Bachelorprogram i arbeids- og organisasjonspsykologi&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;views-row-odd&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;Bachelorprogram i europastudium&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;views-row-even&quot;&gt;
          &lt;div&gt;
            &lt;div class=&quot;iews-field-field-uib-study-title&quot;&gt;
              &lt;span class=&quot;agreement-title&quot;&gt;&lt;a href=&quot;#&quot;&gt;School of Oriental and African Studies, U. of London og Det humanistiske fakultet (ERASMUS+)&lt;/a&gt;&lt;/span&gt;
              &lt;span class=&quot;studentreport-ref&quot;&gt;&lt;a href=&quot;#&quot;&gt;Les studentrapport&lt;/a&gt;&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
  &lt;div class=&quot;item-list&quot;&gt;
    &lt;h1&gt;Masterprogrammer&lt;/h1&gt;
      &lt;ul&gt;
        &lt;li class=&quot;views-row-odd views-row-first&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;Erfaringsbasert master i undervisning med fordjuping i engelsk&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;views-row-even&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;Erfaringsbasert master i undervisning med fordjuping i norsk&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;views-row-odd&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;Erfaringsbasert master i undervisning med fordjupning i matematikk&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
