&lt;div class=&quot;field field-name-field-uib-primary-text field-type-text-long field-label-hidden&quot;&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;p&gt;&lt;a&gt;Gj&Atilde;&cedil;r deg klar til &Atilde;&yen; s&Atilde;&cedil;ke utdanning&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
