&lt;div class=&quot;views-exposed-widget views-widget-filter-field_uib_study_points_rank_value&quot; id=&quot;edit-studypoints-rank-wrapper&quot;&gt;
  &lt;label for=&quot;edit-studypoints-rank&quot;&gt;
    Filtrer p&Atilde;&yen; studiepoeng &lt;/label&gt;
  &lt;div class=&quot;views-widget&quot;&gt;
    &lt;div class=&quot;form-item form-type-select form-item-studypoints-rank&quot;&gt;
      &lt;div class=&quot;form-checkboxes bef-select-as-checkboxes bef-required-filter-processed&quot;&gt;
        &lt;div class=&quot;bef-checkboxes&quot;&gt;
          {{&gt; atoms-bef-checkbox(label: &quot;0&amp;ndash;5&quot;, id: &quot;0-5&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;6&amp;ndash;10&quot;, id: &quot;6-10&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;11&amp;ndash;15&quot;, id: &quot;11-15&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;16&amp;ndash;29&quot;, id: &quot;16-29&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
          {{&gt; atoms-bef-checkbox(label: &quot;30+&quot;, id: &quot;30+&quot;, class: &quot;option&quot;, value:&quot;1&quot;) }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
