&lt;div id=&quot;block-uib-calendar3-exhibitions3&quot; class=&quot;block-uib-calendar3&quot;&gt;
  &lt;h2&gt;Utstillinger&lt;/h2&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;div&gt;&lt;a href=&quot;/nb/hoyesterettsjubileet2015/85458/h%C3%B8yesterett-200-%C3%A5r&quot;&gt;H&Atilde;&cedil;yesterett 200 &Atilde;&yen;r&lt;div class=&quot;date-range&quot;&gt;09.04.15&acirc;€“07.01.16&lt;/div&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div&gt;&lt;a href=&quot;/nb/hf/92716/middelalderuken-magnus-lagab%C3%B8tes-landslov-og-barn-i-mellomalderen&quot;&gt;MIDDELALDERUKEN: Magnus Lagab&Atilde;&cedil;tes Landslov og barn i mellomalderen&lt;div class=&quot;date-range&quot;&gt;24.11.15&acirc;€“27.11.15&lt;/div&gt;&lt;/a&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
