      &lt;div class=&quot;user-media&quot;&gt;
        {{&gt; molecules-user-image }}
        &lt;div class=&quot;user-media-content&quot;&gt;
          &lt;h1&gt;Kari Nordmann&lt;/h1&gt;
          {{&gt; molecules-user-position }}
          {{&gt; molecules-user-ou }}
          {{&gt; molecules-user-url }}
          {{&gt; molecules-user-social-media }}
        &lt;/div&gt;
      &lt;/div&gt;
