&lt;div class=&quot;user-picture&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot; title=&quot;Vis brukerprofil.&quot; class=&quot;active&quot;&gt;&lt;img src=&quot;../../../images/placeholder_user_profile.svg&quot; alt=&quot;Bruker bilde&quot; title=&quot;Bruker bilde&quot;&gt;&lt;/a&gt;
&lt;/div&gt;
