&lt;footer&gt;
  &lt;div class=&quot;footer-top-wrapper&quot;&gt;
    &lt;div class=&quot;footer-top&quot;&gt;
      {{&gt; molecules-link-section }}
      {{&gt; molecules-feed-block }}
      {{&gt; molecules-area-open-positions }}
      &lt;div class=&quot;staff-view&quot;&gt;
        &lt;h2&gt;Ansatte ved Enellerannen forskningsgruppe&lt;/h2&gt;
        &lt;div class=&quot;view-ansatte&quot;&gt;
          {{&gt; molecules-persons-list }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;footer-wrapper&quot;&gt;
    {{&gt; molecules-colophone-nav }}
	  &lt;div class=&quot;footer&quot;&gt;
		  {{&gt; molecules-area-colophon }}
		  {{&gt; molecules-social-follow-us }}
	  &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;footer-bottom-wrapper&quot;&gt;
    &lt;div class=&quot;footer-bottom&quot;&gt;
      {{&gt; molecules-bottom-links }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;
