&lt;div class=&quot;field-collection-container clearfix&quot;&gt;
  &lt;div class=&quot;field field-name-field-uib-step field-type-field-collection field-label-hidden&quot;&gt;
    &lt;div class=&quot;field-items&quot;&gt;
      &lt;div class=&quot;field-item even&quot;&gt;
        &lt;span class=&quot;uib-step uib-step__current&quot;&gt; Forberede opptak&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;field-item odd&quot;&gt;
        &lt;a href=&quot;/nb/foransatte/85993/samordna-opptak?step=2&quot; class=&quot;uib-step uib-step__not-current active&quot;&gt;Sende svar til s&Atilde;&cedil;ker&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;field-item even&quot;&gt;
        &lt;a href=&quot;/nb/foransatte/85993/samordna-opptak?step=3&quot; class=&quot;uib-step uib-step__not-current active&quot;&gt;Registrere student&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
