&lt;main class=&quot;node-type-uib-content-list&quot;&gt;
  &lt;a id=&quot;main-content&quot;&gt;&lt;/a&gt;
  &lt;div class=&quot;content-top-wrapper&quot;&gt;
    &lt;div class=&quot;content-top&quot;&gt;
      &lt;div class=&quot;uib_breadcrumb&quot;&gt;
        &lt;nav class=&quot;breadcrumb&quot; role=&quot;navigation&quot;&gt;
          &lt;ol&gt;
            &lt;li&gt;&lt;a href=&quot;/en&quot;&gt;UiB&lt;/a&gt; &lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;/en/sa&quot;&gt;SA&lt;/a&gt; &lt;/li&gt;
            &lt;li&gt;Education &lt;/li&gt;
          &lt;/ol&gt;
        &lt;/nav&gt;
      &lt;/div&gt;
      &lt;h1&gt;Apply for Exchange Studies&lt;/h1&gt;
      {{&gt; molecules-lead }}
      {{&gt; molecules-content-list }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-main-wrapper&quot;&gt;
    &lt;div class=&quot;region region-content&quot;&gt;
      &lt;div id=&quot;block-system-main&quot; class=&quot;block block-system&quot;&gt;
        &lt;div class=&quot;content&quot;&gt;
          &lt;div id=&quot;node-96061&quot; class=&quot;node node-uib-content-list clearfix&quot;&gt;
            &lt;div class=&quot;content&quot;&gt;
              &lt;div id=&quot;node-96082&quot; class=&quot;node node-uib-article clearfix&quot;&gt;
                &lt;h2&gt;&lt;a href=&quot;/en/education/96082/step-4-upload-documents&quot;&gt;Step 4: Upload documents&lt;/a&gt;&lt;/h2&gt;
                &lt;div class=&quot;content&quot;&gt;
                  &lt;div class=&quot;article-info clearfix&quot;&gt;
                    &lt;div class=&quot;uib-news-byline-created uib-publish-info&quot;&gt;Created 24.02.2016 - 13.13&lt;/div&gt;
                    &lt;div class=&quot;uib-news-byline-last-updated uib-publish-info&quot;&gt;Last updated 25.04.2016 - 15.50&lt;/div&gt;
                  &lt;/div&gt;
                  {{&gt; molecules-field-uib-text }}
                  &lt;div class=&quot; group-article-sidebar field-group-div&quot;&gt;
                    {{&gt; molecules-factbox }}
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-bottom-wrapper&quot;&gt;
    &lt;div class=&quot;content-bottom&quot;&gt;
      {{&gt; molecules-related-content }}
      {{&gt; molecules-link-section }}
      &lt;a href=&quot;/en/education/96061/apply-exchange-studies?step=3&quot; class=&quot;list__previous active&quot;&gt;Step 3: Select courses&lt;/a&gt;&lt;a href=&quot;/en/education/96061/apply-exchange-studies?step=5&quot; class=&quot;list__next active&quot;&gt;Step 5: Apply for Student Housing&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
