&lt;div id=&quot;block-views-recent-news-block&quot; class=&quot;block block-views first odd blue-block clearfix&quot;&gt;
  &lt;h2 class=&quot;block__title block-title&quot;&gt;&lt;span&gt;&lt;/span&gt;Nyheter&lt;/h2&gt;
  &lt;div class=&quot;view&quot;&gt;
    &lt;div class=&quot;view-content&quot;&gt;
      &lt;div class=&quot;views-row views-row-1 views-row-odd views-row-first&quot;&gt;
        &lt;div class=&quot;views-field views-field-title&quot;&gt;
          &lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;#&quot;&gt;Rekordstart for kvinneleg &Atilde;&cedil;konomiprofessor&lt;/a&gt;&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;views-row views-row-2 views-row-even&quot;&gt;
        &lt;div class=&quot;views-field views-field-title&quot;&gt;
          &lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;#&quot;&gt;Mer gratis forskning fra UiB &lt;/a&gt;&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;views-row views-row-3 views-row-odd&quot;&gt;
        &lt;div class=&quot;views-field views-field-title&quot;&gt;
          &lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;#&quot;&gt;Universitetsstyret dr&Atilde;&cedil;fta strategi&lt;/a&gt;&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;views-row views-row-4 views-row-even views-row-last&quot;&gt;
        &lt;div class=&quot;views-field views-field-title&quot;&gt;
          &lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;#&quot;&gt;EU-millioner til evolusjonsbiolog&lt;/a&gt;&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;more-link&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;
      Flere aktuelle saker  &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

