&lt;div id=&quot;block-uib-calendar3-calendar3&quot; class=&quot;block-uib-calendar3&quot;&gt;
  &lt;h2&gt;Kalender&lt;/h2&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;div class=&quot;event first&quot;&gt;
      &lt;div class=&quot;kicker_image&quot;&gt;
        &lt;a href=&quot;/nb/jur/97760/passivitet-binding-og-rettstap-som-ulovfesta-passivitetsverknader&quot;&gt;
          &lt;div class=&quot;field field-name-field-uib-kicker field-type-text field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;Disputas - Maria Vea Lund&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/a&gt;
        &lt;div class=&quot;imagecontainer&quot;&gt;
          {{&gt;molecules-main-media-no-desc}}
          &lt;a href=&quot;/nb/jur/97760/passivitet-binding-og-rettstap-som-ulovfesta-passivitetsverknader&quot;&gt;
            {{&gt;atoms-calendar-card}}
          &lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;a href=&quot;/nb/jur/97760/passivitet-binding-og-rettstap-som-ulovfesta-passivitetsverknader&quot;&gt;
        &lt;div class=&quot;calinfo&quot;&gt;
          &lt;h2&gt;Passivitet - Binding og rettstap som ulovfesta passivitetsverknader&lt;/h2&gt;
          &lt;div class=&quot;field field-name-field-uib-location field-type-text field-label-hidden&quot;&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;Jussbygget, Magnus Lagab&Atilde;&cedil;tes plass 1, Auditorium 3&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;datetime&quot;&gt;&lt;span class=&quot;cal-date&quot;&gt;03.jun.2016&lt;/span&gt;
            &lt;span class=&quot;cal-time&quot;&gt;10:15 to 14:00&lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;calendar-list&quot;&gt;
      {{# listItems.five }}
      &lt;a href=&quot;{{ url }}&quot;&gt;
        &lt;div class=&quot;event&quot;&gt;
          {{&gt;molecules-field-uib-location}}
          {{&gt;atoms-calendar-card}}
          &lt;div class=&quot;time&quot;&gt;14:15 to 15:45&lt;/div&gt;
          &lt;div class=&quot;cal-text&quot;&gt;
             {{ headline.short }} &lt;span class=&quot;event-type&quot;&gt;(Kurs - ledelse)&lt;/span&gt;&lt;/div&gt;
        &lt;/div&gt;
      &lt;/a&gt;
      {{/ listItems.five }}
    &lt;/div&gt;
&lt;/div&gt;
