&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li class=&quot;color-red-60&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #cf3c3a;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#cf3c3a&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-red-80&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ae2f2f;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ae2f2f&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-beige-20&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #eae6e2;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#eae6e2&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-beige-40&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #dcd5cf;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#dcd5cf&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-grey-20&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #f5f5f5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#f5f5f5&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-grey-30&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #d5d5d5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#d5d5d5&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-grey-40&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #b7b7b7;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#b7b7b7&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-grey-50&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #858585;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#858585&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-grey-60&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #606060;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#606060&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-grey-70&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #474747;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#474747&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-grey-80&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #383838;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#383838&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-grey-90&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #333333;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#333333&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-turquoise-20&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #D1E9E9;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#D1E9E9&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-turquoise-40&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #0da6a3;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#0da6a3&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-turquoise-60&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #00777b;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#00777b&lt;/span&gt;
	&lt;/li&gt;
	&lt;li class=&quot;color-blue-50&quot;&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #00769e;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#00769e&lt;/span&gt;
	&lt;/li&gt;
  &lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #24394d;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#24394d&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #5baec5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#5baec5&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #dbbf48;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#dbbf48&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #d0cac2;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#d0cac2&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #8aab67;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#8aab67&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #e55343;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#e55343&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #8d5f8f;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#8d5f8f&lt;/span&gt;
	&lt;/li&gt;
    &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #000;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#000&lt;/span&gt;
  &lt;/li&gt;
    &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #fff;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#fff&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;
