&lt;div id=&quot;block-uib-area-news-and-calendar&quot; class=&quot;block block-uib-area&quot;&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;div class=&quot;item-list&quot;&gt;
      &lt;ul class=&quot;news-and-calendar&quot;&gt;
        &lt;li class=&quot;first&quot;&gt;&lt;a href=&quot;/nb/hf/kalender&quot; class=&quot;more-link__calendar&quot;&gt;See all events&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;last&quot;&gt;&lt;a href=&quot;/nb/hf/nyhetsarkiv&quot; class=&quot;more-link__news&quot;&gt;See all news&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
