&lt;div class=&quot;page-user page-user-&quot;&gt;
  &lt;div class=&quot;content-top-wrapper&quot;&gt;
    &lt;div class=&quot;content-top&quot;&gt;
      {{&gt; molecules-breadcrumb }}
      {{&gt; molecules-user-vcard-and-login }}
      {{&gt; molecules-user-media }}
      {{&gt; molecules-user-contact-info }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-main-wrapper&quot;&gt;
    &lt;div class=&quot;region-content&quot;&gt;
      &lt;div id=&quot;block-system-main&quot;&gt;
        {{&gt; molecules-user-tabs }}
      &lt;/div&gt;
      {{&gt; molecules-user-competence }}
      {{&gt; molecules-user-research-groups }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-bottom-wrapper&quot;&gt;
    &lt;div class=&quot;content-bottom&quot;&gt;
      {{&gt; molecules-user-twitter }}
      {{&gt; molecules-feed-block }}
      {{&gt; molecules-user-docs }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
