&lt;div id=&quot;block-uib-study-study-trivia&quot; class=&quot;block block-uib-study&quot;&gt;
  &lt;h2&gt;Visste du at...&lt;/h2&gt;
  &lt;div class=&quot;content&quot;&gt;Dersom Facebook var ein nasjon ville den vore den tredje st&Atilde;&cedil;rste i verda.&lt;/div&gt;
&lt;/div&gt;