&lt;div class=&quot;field field-name-field-uib-links field-type-link-field field-label-above&quot;&gt;
  &lt;div class=&quot;field-label&quot;&gt;Relevante lenker:&amp;nbsp;&lt;/div&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    {{# listItems.four }}
        &lt;div class=&quot;field-item even&quot;&gt; &lt;a href=&quot;#&quot;&gt;{{ title }}&lt;/a&gt; &lt;/div&gt;
    {{/ listItems.four }}
  &lt;/div&gt;
&lt;/div&gt;
