&lt;form accept-charset=&quot;UTF-8&quot; id=&quot;views-exposed-form-study-blocks-studypr-all-b1&quot; method=&quot;get&quot; action=&quot;/nb&quot; class=&quot;jquery-once-2-processed&quot;&gt;
  &lt;div&gt;
    &lt;div class=&quot;views-exposed-form&quot;&gt;
      &lt;div class=&quot;views-exposed-widgets clearfix&quot;&gt;
        {{&gt; molecules-filter-by-subject }}
        {{&gt; molecules-filter-by-level }}
        &lt;div class=&quot;views-exposed-widget views-submit-button&quot;&gt;
          &lt;input type=&quot;submit&quot; class=&quot;form-submit&quot; value=&quot;Bruk&quot; name=&quot;&quot; id=&quot;edit-submit-study-blocks&quot;&gt; &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
