&lt;div class=&quot;node-type-uib-study study-tabs&quot;&gt;
	{{&gt; organisms-header }}
	{{&gt; organisms-subheader }}
	{{&gt; organisms-study-programme-body }}
	{{&gt; organisms-footer }}
&lt;/div&gt;
