&lt;div class=&quot;field-name-field-uib-bottom-text&quot;&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item&quot;&gt;
      &lt;h3&gt;Dragefjellet l&Atilde;&brvbar;rings- og formidlingssenter&lt;/h3&gt;
      &lt;p&gt;Dragefjellet l&Atilde;&brvbar;rings- og formidlingssenter er Det juridiske fakultets senter for utvikling av digital undervisning og forskningsformidling. Senteret ble startet v&Atilde;&yen;ren 2015.&lt;/p&gt;
      &lt;p&gt;Senteret ledes av fakultetets visedekan for digitalisering &lt;a href=&quot;#&quot;&gt;Knut M. Tande&lt;/a&gt;.&lt;/p&gt;
      &lt;p&gt;&lt;a href=&quot;#&quot;&gt;Bes&Atilde;&cedil;k senterets nettside&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;