&lt;div id=&quot;datepicker&quot; class=&quot;hasDatepicker&quot;&gt;
	&lt;div class=&quot;ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all&quot; style=&quot;display: block;&quot;&gt;
		&lt;div class=&quot;ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all&quot;&gt;
			&lt;a class=&quot;ui-datepicker-prev ui-corner-all&quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._adjustDate('#datepicker', -1, 'M');&quot; title=&quot;Forrige&quot;&gt;
				&lt;span class=&quot;ui-icon ui-icon-circle-triangle-w&quot;&gt;Forrige&lt;/span&gt;
			&lt;/a&gt;
			&lt;a class=&quot;ui-datepicker-next ui-corner-all&quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._adjustDate('#datepicker', +1, 'M');&quot; title=&quot;Neste&quot;&gt;
				&lt;span class=&quot;ui-icon ui-icon-circle-triangle-e&quot;&gt;Neste&lt;/span&gt;
			&lt;/a&gt;
				&lt;div class=&quot;ui-datepicker-title&quot;&gt;
					&lt;span class=&quot;ui-datepicker-month&quot;&gt;oktober&lt;/span&gt;&amp;nbsp;
					&lt;span class=&quot;ui-datepicker-year&quot;&gt;2015&lt;/span&gt;
				&lt;/div&gt;
		&lt;/div&gt;
		&lt;table class=&quot;ui-datepicker-calendar&quot;&gt;
			&lt;thead&gt;
				&lt;tr&gt;
					&lt;th&gt;&lt;span title=&quot;Mandag&quot;&gt;Ma&lt;/span&gt;&lt;/th&gt;
					&lt;th&gt;&lt;span title=&quot;Tirsdag&quot;&gt;Ti&lt;/span&gt;&lt;/th&gt;
					&lt;th&gt;&lt;span title=&quot;Onsdag&quot;&gt;On&lt;/span&gt;&lt;/th&gt;
					&lt;th&gt;&lt;span title=&quot;Torsdag&quot;&gt;To&lt;/span&gt;&lt;/th&gt;
					&lt;th&gt;&lt;span title=&quot;Fredag&quot;&gt;Fr&lt;/span&gt;&lt;/th&gt;
					&lt;th class=&quot;ui-datepicker-week-end&quot;&gt;&lt;span title=&quot;L&Atilde;&cedil;rdag&quot;&gt;L&Atilde;&cedil;&lt;/span&gt;&lt;/th&gt;
					&lt;th class=&quot;ui-datepicker-week-end&quot;&gt;&lt;span title=&quot;S&Atilde;&cedil;ndag&quot;&gt;S&Atilde;&cedil;&lt;/span&gt;&lt;/th&gt;
				&lt;/tr&gt;
			&lt;/thead&gt;
			&lt;tbody&gt;
				&lt;tr&gt;
					&lt;td class=&quot; ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled&quot;&gt;&amp;nbsp;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled&quot;&gt;&amp;nbsp;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled&quot;&gt;&amp;nbsp;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-week-end &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-week-end &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/td&gt;
				&lt;/tr&gt;
				&lt;tr&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;6&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;7&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;8&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;9&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-week-end &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;10&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-week-end &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;11&lt;/a&gt;&lt;/td&gt;
				&lt;/tr&gt;
				&lt;tr&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;12&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;13&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;14&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;15&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;16&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-week-end &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;17&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-week-end &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;18&lt;/a&gt;&lt;/td&gt;
				&lt;/tr&gt;
				&lt;tr&gt;
					&lt;td class=&quot; ui-datepicker-days-cell-over  ui-datepicker-current-day ui-datepicker-today&quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default ui-state-highlight ui-state-active ui-state-hover&quot; href=&quot;#&quot;&gt;19&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;20&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;21&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;22&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;23&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-week-end &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;24&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-week-end &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;25&lt;/a&gt;&lt;/td&gt;
				&lt;/tr&gt;
				&lt;tr&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;26&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;27&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;28&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;29&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot; &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;30&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot; ui-datepicker-week-end &quot; onclick=&quot;DP_jQuery_1445253304439.datepicker._selectDay('#datepicker',9,2015, this);return false;&quot;&gt;&lt;a class=&quot;ui-state-default&quot; href=&quot;#&quot;&gt;31&lt;/a&gt;&lt;/td&gt;
					&lt;td class=&quot; ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled&quot;&gt;&amp;nbsp;&lt;/td&gt;
				&lt;/tr&gt;
			&lt;/tbody&gt;
		&lt;/table&gt;
	&lt;/div&gt;
&lt;/div&gt;
