&lt;div id=&quot;block-uib-user-twitter&quot; class=&quot;block block-uib-user&quot;&gt;
  &lt;h2&gt;Twitter&lt;/h2&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;iframe id=&quot;twitter-widget-0&quot; scrolling=&quot;no&quot; frameborder=&quot;0&quot; allowtransparency=&quot;true&quot; allowfullscreen=&quot;true&quot; class=&quot;twitter-timeline twitter-timeline-rendered&quot; style=&quot;position: static; visibility: visible; display: inline-block; width: 100%; height: 350px; padding: 0px; border: none; max-width: 520px; min-width: 180px; min-height: 200px; margin-top: 0px; margin-bottom: 0px;&quot; data-widget-id=&quot;504179221749456896&quot; data-user-id=&quot;782934&quot; title=&quot;Twitter Timeline&quot;&gt;&lt;/iframe&gt;&lt;script&gt;!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?&quot;http&quot;:&quot;https&quot;;if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+&quot;://platform.twitter.com/widgets.js&quot;;fjs.parentNode.insertBefore(js,fjs);}}(document,&quot;script&quot;,&quot;twitter-wjs&quot;);&lt;/script&gt;
  &lt;/div&gt;
&lt;/div&gt;
