&lt;nav id=&quot;main-menu&quot;&gt;
  &lt;ul class=&quot;menu&quot;&gt;
    &lt;li class=&quot;menu__item is-expanded first&quot;&gt;
      &lt;a tabindex=&quot;0&quot; href=&quot;#&quot;&gt;Utdanning&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.four }}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.four }}
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;menu__item is-expanded first&quot;&gt;
      &lt;a tabindex=&quot;0&quot; href=&quot;#&quot;&gt;Forskning&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.seven }}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.seven }}
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;menu__item is-expanded first&quot;&gt;
      &lt;a tabindex=&quot;0&quot; href=&quot;#&quot;&gt;Ressurser&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.five }}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.five }}
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;menu__item is-expanded first&quot;&gt;
      &lt;a tabindex=&quot;0&quot; href=&quot;#&quot;&gt;Om fakultetet&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.two }}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.two}}
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;menu__item is-expanded first&quot;&gt;
      &lt;a tabindex=&quot;0&quot; href=&quot;#&quot;&gt;Kontakt&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
      {{# listItems.eleven }}
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ linktitle }}&lt;/a&gt;&lt;/li&gt;
      {{/ listItems.eleven}}
      &lt;/ul&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
