&lt;div class=&quot;field field-name-field-uib-user-url field-type-link-field field-label-hidden&quot;&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;http://jilltxt.net&quot; target=&quot;_blank&quot;&gt;Hjemmeside&lt;/a&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
