&lt;div id=&quot;block-uib-study-study-semester-toggle&quot; class=&quot;block block-uib-study odd&quot;&gt;
	&lt;h2 class=&quot;block__title block-title&quot;&gt;Velg semester&lt;/h2&gt;
  &lt;ul&gt;
		&lt;li&gt;&lt;a href=&quot;?sem=2015v&quot; class=&quot;&quot;&gt;V&Atilde;&yen;r 2015 (Forrige semester)&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;?sem=2015h&quot; class=&quot;current is-active&quot;&gt;Haust 2015 (Innev&Atilde;&brvbar;rende semester)&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
