&lt;div class=&quot;content-top-wrapper&quot;&gt;
  &lt;div class=&quot;content-top&quot;&gt;
    &lt;h1&gt;Nyhetsarkiv for Det humanistiske fakultet&lt;/h1&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;content-main-wrapper&quot;&gt;
  &lt;div class=&quot;region-content&quot;&gt;
    &lt;div id=&quot;block-views-recent-news-block-date-selector&quot; class=&quot;block block-views first last odd&quot;&gt;
      &lt;div class=&quot;view view-recent-news view-id-recent_news view-display-id-block_date_selector view-dom-id-cc3eaea115ca73f1c6a96813ed95d33e&quot;&gt;
        &lt;div class=&quot;view-content&quot;&gt;
          &lt;div class=&quot;item-list&quot;&gt;
            &lt;ul class=&quot;views-summary&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201510&quot;&gt;oktober 2015&lt;/a&gt; (5)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201509&quot;&gt;september 2015&lt;/a&gt; (11)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201508&quot;&gt;august 2015&lt;/a&gt; (11)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201507&quot;&gt;juli 2015&lt;/a&gt; (6)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201506&quot;&gt;juni 2015&lt;/a&gt; (11)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201505&quot;&gt;mai 2015&lt;/a&gt; (12)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201504&quot;&gt;april 2015&lt;/a&gt; (14)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201503&quot;&gt;mars 2015&lt;/a&gt; (7)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201502&quot;&gt;februar 2015&lt;/a&gt; (5)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201501&quot;&gt;januar 2015&lt;/a&gt; (5)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201412&quot;&gt;desember 2014&lt;/a&gt; (6) &lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201411&quot;&gt;november 2014&lt;/a&gt; (12)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201410&quot;&gt;oktober 2014&lt;/a&gt; (16)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201409&quot;&gt;september 2014&lt;/a&gt; (9)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201408&quot;&gt;august 2014&lt;/a&gt; (9)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201407&quot;&gt;juli 2014&lt;/a&gt; (1)&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;/nb/node/17507/news-archive/201406&quot;&gt;juni 2014&lt;/a&gt; (10)&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;block block-system&quot; id=&quot;block-system-main&quot;&gt;
      &lt;div class=&quot;content&quot;&gt;
        &lt;div class=&quot;view-recent-news&quot;&gt;
          &lt;div class=&quot;view-content&quot;&gt;
            &lt;div class=&quot;views-row views-row-1 views-row-odd views-row-first&quot;&gt;
              &lt;div class=&quot;views-field views-field-field-uib-main-media&quot;&gt;
                &lt;div class=&quot;field-content&quot;&gt;
                  &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;
                  &lt;div id=&quot;file-85827&quot; class=&quot;file file-image file-image-jpeg contextual-links-region&quot;&gt;
                    &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;
                    &lt;/a&gt;
                    &lt;h2 class=&quot;element-invisible&quot;&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/media/_mg_0665_708.jpg&quot;&gt;_mg_0665_708.jpg&lt;/a&gt;&lt;/h2&gt;
                    &lt;div class=&quot;content&quot;&gt;
                      &lt;img src=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/_mg_0665_708.jpg?itok=7TonFdUn&quot; width=&quot;531&quot; height=&quot;375&quot; alt=&quot;Kari Dyrdal: Heis&quot; title=&quot;Kari Dyrdal: Heis&quot;&gt; &lt;/div&gt;
                  &lt;/div&gt;
                  ,
                  &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;
                  &lt;div id=&quot;file-85828&quot; class=&quot;file file-image file-image-jpeg contextual-links-region&quot;&gt;
                    &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;
                    &lt;/a&gt;
                    &lt;h2 class=&quot;element-invisible&quot;&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/media/_mg_0662_708.jpg&quot;&gt;_mg_0662_708.jpg&lt;/a&gt;&lt;/h2&gt;
                    &lt;div class=&quot;content&quot;&gt;
                      &lt;img src=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/_mg_0662_708.jpg?itok=-5_ruPhu&quot; width=&quot;531&quot; height=&quot;375&quot; alt=&quot;Kari Dyrdal: Heis&quot; title=&quot;Kari Dyrdal: Heis&quot;&gt; &lt;/div&gt;
                  &lt;/div&gt;
                  ,
                  &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;
                  &lt;div id=&quot;file-85829&quot; class=&quot;file file-image file-image-jpeg contextual-links-region&quot;&gt;
                    &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;
                    &lt;/a&gt;
                    &lt;h2 class=&quot;element-invisible&quot;&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/media/_mg_0667_708.jpg&quot;&gt;_mg_0667_708.jpg&lt;/a&gt;&lt;/h2&gt;
                    &lt;div class=&quot;content&quot;&gt;
                      &lt;img src=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/_mg_0667_708.jpg?itok=TBtB-rGc&quot; width=&quot;531&quot; height=&quot;375&quot; alt=&quot;Kari Dyrdal: Heis&quot; title=&quot;Kari Dyrdal: Heis&quot;&gt; &lt;/div&gt;
                  &lt;/div&gt;
                  ,
                  &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;
                  &lt;div id=&quot;file-85831&quot; class=&quot;file file-image file-image-jpeg contextual-links-region&quot;&gt;
                    &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;
                    &lt;/a&gt;
                    &lt;h2 class=&quot;element-invisible&quot;&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/media/_mg_0647_708.jpg&quot;&gt;_mg_0647_708.jpg&lt;/a&gt;&lt;/h2&gt;
                    &lt;div class=&quot;content&quot;&gt;
                      &lt;img src=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/_mg_0647_708.jpg?itok=wkxblEwL&quot; width=&quot;531&quot; height=&quot;375&quot; alt=&quot;Kari Dyrdal: Ornamenter&quot; title=&quot;Kari Dyrdal: Ornamenter&quot;&gt; &lt;/div&gt;
                  &lt;/div&gt;
                  ,
                  &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;
                  &lt;div id=&quot;file-85832&quot; class=&quot;file file-image file-image-jpeg contextual-links-region&quot;&gt;
                    &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;
                    &lt;/a&gt;
                    &lt;h2 class=&quot;element-invisible&quot;&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/media/_mg_0657_708.jpg&quot;&gt;_mg_0657_708.jpg&lt;/a&gt;&lt;/h2&gt;
                    &lt;div class=&quot;content&quot;&gt;
                      &lt;img src=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/_mg_0657_708.jpg?itok=LD8UZYgk&quot; width=&quot;531&quot; height=&quot;375&quot; alt=&quot;Kari Dyrdal: Tekstil&quot; title=&quot;Kari Dyrdal: Tekstil i aulaen&quot;&gt; &lt;/div&gt;
                  &lt;/div&gt;
                  ,
                  &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;
                  &lt;div id=&quot;file-85834&quot; class=&quot;file file-image file-image-jpeg contextual-links-region&quot;&gt;
                    &lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;
                    &lt;/a&gt;
                    &lt;h2 class=&quot;element-invisible&quot;&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/nb/kunst/91417/naturens-m%C3%B8nstre&quot;&gt;&lt;/a&gt;&lt;a href=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/media/_mg_0669_708.jpg&quot;&gt;_mg_0669_708.jpg&lt;/a&gt;&lt;/h2&gt;
                    &lt;div class=&quot;content&quot;&gt;
                      &lt;img src=&quot;http://w3-w3.uib.9zlhb.xip.io/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/_mg_0669_708.jpg?itok=0FMoqVMi&quot; width=&quot;531&quot; height=&quot;375&quot; alt=&quot;Kari Dyrdal: Heis&quot; title=&quot;Kari Dyrdal: Heis&quot;&gt; &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;views-field views-field-title&quot;&gt;
                &lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;/nb/fof/92160/bergen-student-tv-om-exphil&quot;&gt;Bergen Student-TV om ex.phil. (06.10.2015)&lt;/a&gt;&lt;/span&gt;
              &lt;/div&gt;
              &lt;div class=&quot;views-field views-field-field-uib-lead&quot;&gt;
                &lt;div class=&quot;field-content&quot;&gt;BSTV har den siste tiden hatt to oppslag om examen philosophicum ved UiB. Det ene dreier seg om motivasjonen bak og relevansen av ex.phil. Her intervjues v&Atilde;&yen;re f&Atilde;&cedil;rsteamanuenser Espen Gamlund og Gunnar Karlsen. I det andre oppslaget er det romsituasjonen ved UiB og det medf&Atilde;&cedil;lgende behovet for undervisning p&Atilde;&yen; kveldstid som er tema. Her intervjues bl.a. universitetslektor Vibeke Tellmann. Se lenker... &lt;a href=&quot;http://www.uib.no/nb/fof/92160/bergen-student-tv-om-exphil&quot; class=&quot;views-more-link&quot;&gt;Les mer&lt;/a&gt;&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;views-row views-row-2 views-row-even&quot;&gt;
              {{&gt; molecules-kicker }}
              &lt;div class=&quot;views-field views-field-field-uib-main-media&quot;&gt;
                &lt;div class=&quot;field-content&quot;&gt;
                  &lt;span class=&quot;field-content&quot;&gt;
                    &lt;a href=&quot;/nb/lle/92074/ny-bok-writing-europe-500-1450-texts-and-contexts&quot;&gt;&lt;img src=&quot;http://www.uib.no/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/writing_europe.j_beskjaert.jpg?itok=K4cZKJRL&quot; width=&quot;531&quot; height=&quot;375&quot; alt=&quot;Writing Europe, 500-1450 Texts and Contexts Faksimile&quot; title=&quot;&quot;&gt;&lt;/a&gt;
                  &lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;views-field views-field-title&quot;&gt;
                &lt;span class=&quot;field-content&quot;&gt;
                  &lt;a href=&quot;/nb/lle/92074/ny-bok-writing-europe-500-1450-texts-and-contexts&quot;&gt;Ny bok: Writing Europe, 500-1450 Texts and Contexts (05.10.2015)&lt;/a&gt;
                &lt;/span&gt;
              &lt;/div&gt;
              &lt;div class=&quot;views-field views-field-field-uib-lead&quot;&gt;
                &lt;div class=&quot;field-content&quot;&gt;Edited by Aidan Conti, Orietta Da Rold and Philip Shaw&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;views-row views-row-3 views-row-odd&quot;&gt;
              {{&gt; molecules-kicker }}
              &lt;div class=&quot;views-field views-field-field-uib-main-media&quot;&gt;
                &lt;div class=&quot;field-content&quot;&gt;
                  &lt;span class=&quot;field-content&quot;&gt;
                    &lt;a href=&quot;/nb/lle/92072/ny-bok-saturated-sensorium-principles-perception-and-mediation-middle-ages&quot;&gt;&lt;img src=&quot;http://www.uib.no/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/the_saturated_sensorium_beskjaert.jpg?itok=ywYh7fpG&quot; width=&quot;531&quot; height=&quot;375&quot; alt=&quot;The saturated sensorium faksimile av bokomslag&quot; title=&quot;The saturated sensorium&quot;&gt;&lt;/a&gt;
                  &lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;views-field views-field-title&quot;&gt;
                &lt;span class=&quot;field-content&quot;&gt;
                  &lt;a href=&quot;/nb/lle/92072/ny-bok-saturated-sensorium-principles-perception-and-mediation-middle-ages&quot;&gt;Ny bok: The Saturated Sensorium Principles of Perception and Mediation in the Middle Ages (05.10.2015)&lt;/a&gt;
                &lt;/span&gt;
              &lt;/div&gt;
              &lt;div class=&quot;views-field views-field-field-uib-lead&quot;&gt;
                &lt;div class=&quot;field-content&quot;&gt;Edited by Hans Henrik Lohfert J&Atilde;&cedil;rgensen, Henning Laugerud and Laura Katrine Skinnebach&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;views-row views-row-4 views-row-even&quot;&gt;
              {{&gt; molecules-kicker }}
              &lt;div class=&quot;views-field views-field-field-uib-main-media&quot;&gt;
                &lt;div class=&quot;field-content&quot;&gt;
                  &lt;span class=&quot;field-content&quot;&gt;
                    &lt;a href=&quot;/nb/fremmedsprak/92014/uib-markerte-den-europeiske-spr%C3%A5kdagen&quot;&gt;&lt;img src=&quot;http://www.uib.no/sites/w3.uib.no/files/styles/wide_thumbnail/public/media/elever_0.jpg?itok=PBytLxc6&quot; width=&quot;531&quot; height=&quot;375&quot; alt=&quot;Bilete av gjestar p&Atilde;&yen; spr&Atilde;&yen;kdagen&quot; title=&quot;&quot;&gt;&lt;/a&gt;
                  &lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;views-field views-field-title&quot;&gt;
                &lt;span class=&quot;field-content&quot;&gt;
                  &lt;a href=&quot;/nb/fremmedsprak/92014/uib-markerte-den-europeiske-spr%C3%A5kdagen&quot;&gt;UiB markerte Den europeiske spr&Atilde;&yen;kdagen (02.10.2015)&lt;/a&gt;
                &lt;/span&gt;
              &lt;/div&gt;
              &lt;div class=&quot;views-field views-field-field-uib-lead&quot;&gt;
                &lt;div class=&quot;field-content&quot;&gt;Har du tenkt p&Atilde;&yen; korleis du uttrykkjer h&Atilde;&cedil;flegheitsfrasar? Korleis du snakkar til eldre og yngre?
        			Spr&Atilde;&yen;ket du brukar kan fortelje ein del om deg, men ogs&Atilde;&yen; mykje om kulturen du h&Atilde;&cedil;yrer til. UiB markerte den europeiske spr&Atilde;&yen;kdagen med lynkurs i framandspr&Atilde;&yen;k, spr&Atilde;&yen;kkaf&Atilde;&copy; p&Atilde;&yen; Bergen offentlege bibliotek og arrangement for elevar i den vidareg&Atilde;&yen;ande skulen.
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;item-list&quot;&gt;
            {{&gt; molecules-pager }}
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/div&gt;
