&lt;div class=&quot;field-name-field-uib-main-media description&quot;&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;div class=&quot;file file-image&quot;&gt;
        &lt;div class=&quot;content&quot;&gt;
          &lt;picture&gt;
            {{&gt; atoms-main-media }}
          &lt;/picture&gt;
          &lt;div class=&quot;uib-media-info&quot;&gt;
            {{&gt; molecules-image-description }}
            {{&gt; molecules-image-owner }}
            {{&gt; molecules-image-copyright }}
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
