&lt;div class=&quot;uib-study-evu-offer&quot;&gt;
	&lt;h2&gt;&lt;a href=&quot;/nb/utdanning/evu/81134/demokratibygging&quot;&gt;Demokratibygging&lt;/a&gt;&lt;/h2&gt;
		&lt;p class=&quot;lead-text&quot;&gt;Masterstudium i demokratibygging gir unik og verdfull kompetanse p&Atilde;&yen; korleis det internasjonale samfunnet kan bidra til politisk utvikling, demokrati og menneskerettar i ulike statar. Ein kan velje &Atilde;&yen; ta enkeltkurs eller full mastergrad.&lt;/p&gt;
		&lt;div class=&quot;item-list&quot;&gt;
			&lt;ul&gt;
				&lt;li class=&quot;first&quot;&gt;
					&lt;div class=&quot;course&quot;&gt;
						&lt;h3&gt;&lt;a href=&quot;/nb/emne/SAMPOL601&quot;&gt;SAMPOL601 / Internasjonal valobservasjon - vidareutdanningskurs&lt;/a&gt;&lt;/h3&gt;
						&lt;p class=&quot;course-info&quot;&gt;Studiepoeng: 15&lt;/p&gt;
						&lt;div class=&quot;instance&quot;&gt;
							&lt;div class=&quot;instance-info&quot;&gt;
								&lt;div class=&quot;semester&quot;&gt;V&Atilde;&yen;r 2016&lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title break&quot;&gt;Kursdato:&lt;/span&gt;
								  &lt;span&gt;05.02.2016 - 10.05.2016&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title&quot;&gt;Pris: &lt;/span&gt;
								  &lt;span&gt;NOK 16000&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title&quot;&gt;S&Atilde;&cedil;knadsfrist: &lt;/span&gt;
								  &lt;span&gt;17.01.2016&lt;/span&gt;
                &lt;/div&gt;
							&lt;/div&gt;
							&lt;div class=&quot;sign-up&quot;&gt;
								&lt;a href=&quot;https://evuweb.uib.no/evuweb/Kursoversikt.seam?inst=uib&amp;amp;kursEtterutdkurskode=SAMPOL601&amp;amp;kursKurstidsangivelsekode=V.2016&quot; class=&quot;sign-up-button&quot;&gt;S&Atilde;&cedil;k plass&lt;/a&gt;
							&lt;/div&gt;
							&lt;div class=&quot;clear&quot;&gt;&lt;p&gt;&lt;/p&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;div class=&quot;course&quot;&gt;
						&lt;h3&gt;&lt;a href=&quot;/nb/emne/SAMPOL602&quot;&gt;SAMPOL602 / Kurs i Menneskerettighetsobservasjon&lt;/a&gt;&lt;/h3&gt;
						&lt;p class=&quot;course-info&quot;&gt;Studiepoeng: 15&lt;/p&gt;
						&lt;div class=&quot;instance&quot;&gt;
              &lt;div class=&quot;instance-info&quot;&gt;
                &lt;div class=&quot;semester&quot;&gt;H&Atilde;&cedil;st 2015&lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title break&quot;&gt;Kursdato: &lt;/span&gt;
								  &lt;span&gt;11.09.2015 - 09.11.2015&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title&quot;&gt;Pris: &lt;/span&gt;
								  &lt;span&gt;NOK 16000&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title&quot;&gt;S&Atilde;&cedil;knadsfrist: &lt;/span&gt;
								  &lt;span&gt;Frist utl&Atilde;&cedil;pt.&lt;/span&gt;
                &lt;/div&gt;
							&lt;/div&gt;
							&lt;div class=&quot;clear&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;div class=&quot;course&quot;&gt;
						&lt;h3&gt;&lt;a href=&quot;/nb/emne/SAMPOL606&quot;&gt;SAMPOL606 / Demokratiassistanse og demokratisering&lt;/a&gt;&lt;/h3&gt;
						&lt;p class=&quot;course-info&quot;&gt;Studiepoeng: 15&lt;/p&gt;
						&lt;div class=&quot;instance&quot;&gt;
              &lt;div class=&quot;instance-info&quot;&gt;
                &lt;div class=&quot;semester&quot;&gt;H&Atilde;&cedil;st 2015&lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title break&quot;&gt;Kursdato: &lt;/span&gt;
						  		&lt;span&gt;18.09.2015 - 15.12.2015&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title&quot;&gt;Pris: &lt;/span&gt;
								  &lt;span&gt;NOK 16000&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title&quot;&gt;S&Atilde;&cedil;knadsfrist: &lt;/span&gt;
								  &lt;span&gt;Frist utl&Atilde;&cedil;pt.&lt;/span&gt;
                &lt;/div&gt;
							&lt;/div&gt;
							&lt;div class=&quot;clear&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;div class=&quot;course&quot;&gt;
						&lt;h3&gt;&lt;a href=&quot;/nb/emne/SAMPOL607&quot;&gt;SAMPOL607 / Feltmetodikk: Politisk kartlegging i felt&lt;/a&gt;&lt;/h3&gt;
						&lt;p class=&quot;course-info&quot;&gt;Studiepoeng: 15&lt;/p&gt;
						&lt;div class=&quot;instance&quot;&gt;
              &lt;div class=&quot;instance-info&quot;&gt;
                &lt;div class=&quot;semester&quot;&gt;V&Atilde;&yen;r 2016&lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title break&quot;&gt;Kursdato: &lt;/span&gt;
								  &lt;span&gt;12.02.2016 - 18.05.2016&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title&quot;&gt;Pris: &lt;/span&gt;
								  &lt;span&gt;NOK 16000&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                  &lt;span class=&quot;title&quot;&gt;S&Atilde;&cedil;knadsfrist: &lt;/span&gt;
								  &lt;span&gt;17.01.2016&lt;/span&gt;
                &lt;/div&gt;
							&lt;/div&gt;
							&lt;div class=&quot;sign-up&quot;&gt;&lt;a href=&quot;https://evuweb.uib.no/evuweb/Kursoversikt.seam?inst=uib&amp;amp;kursEtterutdkurskode=SAMPOL607&amp;amp;kursKurstidsangivelsekode=V.2016&quot; class=&quot;sign-up-button&quot;&gt;S&Atilde;&cedil;k plass&lt;/a&gt;&lt;/div&gt;
							&lt;div class=&quot;clear&quot;&gt;&lt;p&gt;&lt;/p&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
