&lt;article class=&quot;node-type-uib-study&quot;&gt;
  &lt;div class=&quot;content-top-wrapper&quot;&gt;
    &lt;div class=&quot;content-top&quot;&gt;
      {{&gt; molecules-breadcrumb }}
      &lt;div class=&quot;field-name-field-uib-study-type&quot;&gt;
        &lt;div class=&quot;field-items&quot;&gt;
          &lt;div class=&quot;field-item even&quot;&gt;Study programme&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;h1&gt;Bachelorprogram i digital kultur&lt;/h1&gt;
      {{&gt; molecules-study-facts }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-main-wrapper&quot;&gt;
    &lt;div class=&quot;region region-content&quot;&gt;
      {{! Empty block in output: }}
      &lt;div id=&quot;block-system-main&quot; class=&quot;block block-system&quot;&gt;
        &lt;div class=&quot;content&quot;&gt;
          &lt;div id=&quot;node-46315&quot; class=&quot;node node-uib-study clearfix&quot;&gt;
            &lt;div class=&quot;content&quot;&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div id=&quot;block-uib-study-study-content&quot;&gt;
        {{&gt; molecules-tabs-study-programme }}
      &lt;/div&gt;
      {{&gt; molecules-study-image }}
      {{&gt; molecules-study-so-code }}
      {{&gt; molecules-study-contact }}
      {{&gt; molecules-study-trivia }}
      {{&gt; molecules-study-semester-toggle }}
      {{&gt; molecules-study-specialization }}
      {{&gt; molecules-study-testimonial }}
      {{&gt; molecules-study-belongs-to }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;content-bottom-wrapper&quot;&gt;
    {{&gt; molecules-study-related }}
    {{&gt; molecules-study-plan }}
  &lt;/div&gt;
&lt;/article&gt;
