&lt;div class=&quot;service-links&quot;&gt;
  &lt;div class=&quot;item-list&quot;&gt;
    &lt;ul&gt;
      &lt;li class=&quot;first&quot;&gt;&lt;a rel=&quot;nofollow&quot; class=&quot;icons-social-twitter&quot; title=&quot;Share this on Twitter&quot; href=&quot;#&quot;&gt;Twitter&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a rel=&quot;nofollow&quot; class=&quot;icons-social-facebook&quot; title=&quot;Share on Facebook.&quot; href=&quot;#&quot;&gt;Facebook&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a rel=&quot;nofollow&quot; class=&quot;icons-social-linkedin&quot; title=&quot;Publish this post to LinkedIn&quot; href=&quot;#&quot;&gt;LinkedIn&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;last&quot;&gt;&lt;a rel=&quot;nofollow&quot; class=&quot;icons-social-google-plus-share&quot; title=&quot;Share on Google+&quot; href=&quot;#&quot;&gt;Google Plus Share&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
