&lt;div id=&quot;block-uib-area-frontpage-links&quot; class=&quot;block block-uib-area contextual-links-region&quot;&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;div class=&quot;item-list&quot;&gt;
      &lt;ul&gt;
        &lt;li class=&quot;first&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;uib-frontpage-organization&quot;&gt;Fakultet, institutt og sentre&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;uib-frontpage-ub&quot;&gt;Biblioteket&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;uib-frontpage-museum&quot;&gt;Museet&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;last&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;uib-frontpage-principal&quot;&gt;Rektoratets blogg&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
