&lt;div class=&quot;view view-recent-phds view-id-recent_phds view-display-id-page view-dom-id-7aa35ec48182c1ab1b40d794b4b40c5e&quot;&gt;
  &lt;div class=&quot;view-header&quot;&gt;
    &lt;div class=&quot;date-nav-wrapper clearfix&quot;&gt;
      &lt;div class=&quot;date-nav item-list&quot;&gt;
        &lt;div class=&quot;date-heading&quot;&gt;
          &lt;h3&gt;2015&lt;/h3&gt;
        &lt;/div&gt;
        &lt;ul class=&quot;pager&quot;&gt;
          &lt;li class=&quot;date-prev&quot;&gt;
            &lt;a href=&quot;http://w3.test/nb/nye-doktorgrader?date=2014&quot; title=&quot;G&Atilde;&yen; til forrige &Atilde;&yen;r&quot; rel=&quot;nofollow&quot;&gt;&Acirc;&laquo; Forrige&lt;/a&gt; &lt;/li&gt;
          &lt;li class=&quot;date-next&quot;&gt;
            &lt;a href=&quot;http://w3.test/nb/nye-doktorgrader?date=2016&quot; title=&quot;G&Atilde;&yen; til neste &Atilde;&yen;r&quot; rel=&quot;nofollow&quot;&gt;Neste &Acirc;&raquo;&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;view-filters&quot;&gt;
    &lt;form class=&quot;ctools-auto-submit-full-form ctools-auto-submit-processed&quot; action=&quot;/nb/node/50541/recent-phds&quot; method=&quot;get&quot; id=&quot;views-exposed-form-recent-phds-page&quot; accept-charset=&quot;UTF-8&quot;&gt;
      &lt;div&gt;
        &lt;div class=&quot;views-exposed-form&quot;&gt;
          &lt;div class=&quot;views-exposed-widgets clearfix&quot;&gt;
            &lt;div class=&quot;views-exposed-widget views-widget-sort-by&quot;&gt;
              &lt;div class=&quot;form-item form-type-select form-item-sort-by&quot;&gt;
                &lt;label for=&quot;edit-sort-by&quot;&gt;Sort&Atilde;&copy;r p&Atilde;&yen; &lt;/label&gt;
                &lt;select id=&quot;edit-sort-by&quot; name=&quot;sort_by&quot; class=&quot;form-select&quot;&gt;
                  &lt;option value=&quot;field_uib_date_value&quot; selected=&quot;selected&quot;&gt;Dato&lt;/option&gt;
                  &lt;option value=&quot;title&quot;&gt;Tittel&lt;/option&gt;
                &lt;/select&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;views-exposed-widget views-widget-sort-order&quot;&gt;
              &lt;div class=&quot;form-item form-type-select form-item-sort-order&quot;&gt;
                &lt;label for=&quot;edit-sort-order&quot;&gt;Rekkef&Atilde;&cedil;lge &lt;/label&gt;
                &lt;select id=&quot;edit-sort-order&quot; name=&quot;sort_order&quot; class=&quot;form-select&quot;&gt;
                  &lt;option value=&quot;ASC&quot;&gt;Stigende&lt;/option&gt;
                  &lt;option value=&quot;DESC&quot; selected=&quot;selected&quot;&gt;Synkende&lt;/option&gt;
                &lt;/select&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;views-exposed-widget views-submit-button&quot;&gt;
              &lt;input class=&quot;ctools-use-ajax ctools-auto-submit-click js-hide form-submit&quot; type=&quot;submit&quot; id=&quot;edit-submit-recent-phds&quot; name=&quot;&quot; value=&quot;Bruk&quot;&gt; &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/form&gt;
  &lt;/div&gt;
  &lt;div class=&quot;view-content&quot;&gt;
    {{# listItems.five }}
    {{&gt; molecules-phd-pressrelease-teaser }}
    {{/ listItems.five }}
  &lt;/div&gt;
&lt;/div&gt;
