&lt;div class=&quot;pagination-wrapper&quot;&gt;
	&lt;a class=&quot;prev disable&quot; data-from=&quot;prev&quot;&gt;Tilbake&lt;/a&gt;
	&lt;a class=&quot;resultpage current&quot; data-from=&quot;0&quot;&gt;1&lt;/a&gt;
	&lt;a class=&quot;resultpage&quot; data-from=&quot;10&quot;&gt;2&lt;/a&gt;
	&lt;a class=&quot;resultpage&quot; data-from=&quot;20&quot;&gt;3&lt;/a&gt;
	&lt;a class=&quot;resultpage&quot; data-from=&quot;30&quot;&gt;4&lt;/a&gt;
	&lt;a class=&quot;next&quot; data-from=&quot;next&quot;&gt;Neste&lt;/a&gt;
&lt;/div&gt;
