&lt;div class=&quot;field field-name-field-uib-media field-type-file field-label-hidden&quot;&gt;
  &lt;div class=&quot;field-items&quot;&gt;
    &lt;div class=&quot;field-item even&quot;&gt;
      &lt;div class=&quot;file file-image&quot;&gt;
        &lt;div class=&quot;content&quot;&gt;
          {{&gt; atoms-small-media }}
          {{&gt; molecules-image-description }}
          {{&gt; molecules-image-owner }}
          {{&gt; molecules-image-copyright }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;