    &lt;div class=&quot;views-row views-row-1 views-row-odd views-row-first clearfix&quot;&gt;
      &lt;div class=&quot;views-field views-field-field-uib-media&quot;&gt;
        &lt;div class=&quot;field-content&quot;&gt;
          &lt;div id=&quot;file-90375&quot; class=&quot;file file-image file-image-jpeg contextual-links-region&quot;&gt;
            &lt;div class=&quot;content&quot;&gt;
              {{&gt; atoms-small-media }}
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;views-field views-field-nothing&quot;&gt;
        &lt;span class=&quot;field-content&quot;&gt;
          &lt;div class=&quot;phd-lead-title-wrapper&quot;&gt;
            &lt;div class=&quot;phd-title&quot;&gt;&lt;a href=&quot;/nb/nye-doktorgrader/94145/hvordan-reguleres-leverens-genuttrykk-og-sukkerproduksjon&quot;&gt; Hvordan reguleres leverens genuttrykk og sukkerproduksjon? (&lt;span class=&quot;date-display-single&quot;&gt;18.12.15&lt;/span&gt;)&lt;/a&gt;&lt;/div&gt;
            &lt;div class=&quot;phd-lead&quot;&gt;Andr&Atilde;&copy; Madsen disputerer fredag 18. desember 2015 for ph.d-graden ved Universitetet i Bergen med avhandlingen: &acirc;ÄúFunction and regulation of Steroid Receptor Coactivator 2 &acirc;Äì Transcriptional regulation of cellular metabolism&acirc;Äù.&lt;/div&gt;
          &lt;/div&gt;
        &lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;