&lt;div id=&quot;node_uib_article_full_group_article_sidebar&quot; class=&quot; group-article-sidebar field-group-div&quot;&gt;
  &lt;div class=&quot;field field-name-field-uib-date field-type-datetime field-label-hidden&quot;&gt;
    &lt;div class=&quot;field-items&quot;&gt;
      &lt;div class=&quot;field-item even&quot;&gt;
        &lt;div class=&quot;date-display-range&quot;&gt;
          &lt;span class=&quot;date-display-start&quot;&gt;02.11.2015 - 09.00&lt;/span&gt; til &lt;span class=&quot;date-display-end&quot;&gt;03.11.2015 - 16.00&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;field field-name-field-uib-registration-link field-type-link-field field-label-hidden&quot;&gt;
    &lt;div class=&quot;field-items&quot;&gt;
      &lt;div class=&quot;field-item even&quot;&gt;
        &lt;a href=&quot;http://www.cmi.no/news/?1585-digital-revolutions&quot; target=&quot;_blank&quot; title=&quot;Registration&quot;&gt;Register on CMI's web pages!&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;field field-name-field-uib-contacts field-type-entityreference field-label-hidden&quot;&gt;
    &lt;div class=&quot;field-items&quot;&gt;
      &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;/nb/personer/Kristin.Str%C3%B8msnes&quot;&gt;Kristin Str&Atilde;&cedil;msnes&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;field field-name-field-uib-location field-type-text field-label-hidden&quot;&gt;
    &lt;div class=&quot;field-items&quot;&gt;
      &lt;div class=&quot;field-item even&quot;&gt; CMI, Jekteviksbakken 31, Bergen&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;field field-name-field-uib-event-type field-type-list-text field-label-hidden&quot;&gt;
    &lt;div class=&quot;field-items&quot;&gt;
      &lt;div class=&quot;field-item even&quot;&gt;Konferanse&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;