&lt;form action=&quot;/nb/persons&quot; method=&quot;get&quot; id=&quot;views-exposed-form-ansatte-page-1&quot; accept-charset=&quot;UTF-8&quot;&gt;
	&lt;div&gt;
		&lt;div class=&quot;views-exposed-form&quot;&gt;
			&lt;div class=&quot;views-exposed-widgets clearfix&quot;&gt;
				&lt;div id=&quot;edit-field-uib-first-name-value-wrapper&quot; class=&quot;views-exposed-widget views-widget-filter-field_uib_first_name_value&quot;&gt;
					&lt;label for=&quot;edit-field-uib-first-name-value&quot;&gt;Fornavn&lt;/label&gt;
					&lt;div class=&quot;views-widget&quot;&gt;
						&lt;div class=&quot;form-item form-type-textfield form-item-field-uib-first-name-value&quot;&gt;
							&lt;input type=&quot;text&quot; id=&quot;edit-field-uib-first-name-value&quot; name=&quot;field_uib_first_name_value&quot; value=&quot;&quot; size=&quot;30&quot; maxlength=&quot;128&quot; class=&quot;form-text&quot;&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;div id=&quot;edit-field-uib-last-name-value-wrapper&quot; class=&quot;views-exposed-widget views-widget-filter-field_uib_last_name_value&quot;&gt;
					&lt;label for=&quot;edit-field-uib-last-name-value&quot;&gt;Etternavn&lt;/label&gt;
					&lt;div class=&quot;views-widget&quot;&gt;
					&lt;div class=&quot;form-item form-type-textfield form-item-field-uib-last-name-value&quot;&gt;
						&lt;input type=&quot;text&quot; id=&quot;edit-field-uib-last-name-value&quot; name=&quot;field_uib_last_name_value&quot; value=&quot;&quot; size=&quot;30&quot; maxlength=&quot;128&quot; class=&quot;form-text&quot;&gt;
					&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;div id=&quot;edit-field-uib-user-competence-wrapper&quot; class=&quot;views-exposed-widget views-widget-filter-field_uib_user_competence_tid&quot;&gt;
					&lt;label for=&quot;edit-field-uib-user-competence&quot;&gt;Kompetansefelt&lt;/label&gt;
					&lt;div class=&quot;views-widget&quot;&gt;
						&lt;div class=&quot;form-item form-type-textfield form-item-field-uib-user-competence&quot; role=&quot;application&quot;&gt;
							&lt;input type=&quot;text&quot; id=&quot;edit-field-uib-user-competence&quot; name=&quot;field_uib_user_competence&quot; value=&quot;&quot; size=&quot;60&quot; maxlength=&quot;128&quot; class=&quot;form-text form-autocomplete&quot; autocomplete=&quot;OFF&quot; aria-autocomplete=&quot;list&quot;&gt;&lt;input type=&quot;hidden&quot; id=&quot;edit-field-uib-user-competence-autocomplete&quot; value=&quot;https://w3-prestaging.test.uib.no/?q=nb/admin/views/ajax/autocomplete/taxonomy/3&quot; disabled=&quot;disabled&quot; class=&quot;autocomplete autocomplete-processed&quot;&gt;
							&lt;span class=&quot;element-invisible&quot; aria-live=&quot;assertive&quot; id=&quot;edit-field-uib-user-competence-autocomplete-aria-live&quot;&gt;&lt;/span&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class=&quot;views-exposed-widget views-submit-button&quot;&gt;
					&lt;input type=&quot;submit&quot; id=&quot;edit-submit-ansatte&quot; name=&quot;&quot; value=&quot;Bruk&quot; class=&quot;form-submit&quot;&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/form&gt;